{#
  Twig Templating!
  Homepage: https://twig.symfony.com/
  Docs: https://twig.symfony.com/doc
#}

{% extends '_layouts/page.html' %}
{% set noHeader = false %}
{% set menuOnly = false %}
{% set menuInlineText = false %}
{% set noMenu = false %}
{% set noLogo = false %}
{% set recognition = true %}
{% set headerMenu = global.menu.mobility %}
{% set headerLogo = 'logo.png' %}
{% set title = "VMLY&R | Mobile Apps &amp; Emerging Technology" %}
{% set enableLibraryMasonry = true %}

{% block content %}
  <article id="intro" class="landing-home" id="top">
  	{% include "_components/intro.html" with {
  	"title": "Document Library",
  	"titleAbove": "Mobile Apps &amp; Emerging Technology",
  	"titleBelow": "",
  	"bgFileName": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/hero/constellation.jpg",
  	"classes": "vg-4 color-white"
  } %}
	<!-- Intro -->

	<div id="appPractice" class="container px-2 py-3 bg-onyx-10">
		<h3 class="type-headlineSection mb-2">Mobile Apps</h3>
		<div class="row">
		  <div class="md:col-4 sm:col-12">
		  	<strong class="uppercase">Practice Overviews</strong>
		  	<ul class="pl-2 mb-1">
		  		<li><a href="">Mobile Apps Keynote</a></li>
		  		<li><a href="">Mobile Apps PDF</a></li>
		  		<li><a href="">Strategy PDF</a></li>
		  		<li><a href="">Program Management PDF</a></li>
		  		<li><a href="">XD &amp; Design PDF</a></li>
		  		<li><a href="">Development PDF</a></li>
		  		<li><a href="">Testing PDF</a></li>
		  		<li><a href="">Product Life-Cycle PDF</a></li>
		  	</ul>
		  </div>
		  <div class="md:col-4 sm:col-12">
		  	<strong class="uppercase">Example Outputs</strong>
		  	<ul class="pl-2 mb-1">
		  		<li><a href="">Brainsteer</a></li>
		  		<li><a href="">POC Planning</a></li>
		  		<li><a href="">Design Sprint</a><em class="font-light type-xs"> - United Rentals</em></li>
		  		<li><a href="">Roadmap</a><em class="font-light type-xs"> - DSG</em></li>
		  		<li><a href="">The Next 30,60, &amp; 90 Days</a></li>
		  		<li><a href="">HIG Assessment</a><em class="font-light type-xs"> - Wendy's</em></li>
		  		<li><a href="">Native v. Hybrid</a></li>
		  		<li><a href="">Beta Testing Plan</a><em class="font-light type-xs"> - Banfield</em></li>
		  		<li><a href="">App Store Optimization Plan</a><em class="font-light type-xs"> - Wendy's</em></li>
		  		<li><a href="">Sample Aquisition Plan</a><em class="font-light type-xs"> - NBC Sports</em></li>
		  		<li><a href="">Sample Messaging Playbook</a><em class="font-light type-xs"> - Wendy's</em></li>
		  		<li><a href="">Sample Monthly Report</a><em class="font-light type-xs"> - Sherwin-Willams</em></li>
		  	</ul>
		  </div>
		  <div class="md:col-4 sm:col-12">
		  	<strong class="uppercase">Case Studies</strong>
		  	<ul class="pl-2 mb-1">
		  		<li><a href="">Ford</a></li>
		  		<li><a href="">United Rentals</a></li>
		  		<li><a href="">Banfield Pet Hospital</a></li>
		  		<li><a href="">Bridgestone</a></li>
		  		<li><a href="">Living History</a></li>
		  		<li><a href="">NBC Sports</a></li>
		  		<li><a href="">QuikTrip</a></li>
		  		<li><a href="">Laugh Tracker</a></li>
		  		<li><a href="">RipCurl</a></li>
		  		<li><a href="">AAFP</a></li>
		  	</ul>
		  </div>
		</div>
		<h3 class="type-headlineSection my-2">Emerging Technology</h3>
		<div class="row">
		  <div class="md:col-4 sm:col-12">
		  	<strong class="uppercase">Practice Overviews</strong>
		  	<ul class="pl-2 mb-1">
		  		<li><a href="">Emerging Technology Keynote</a></li>
		  		<li><a href="">Emerging Technology PDF</a></li>
		  		<li><a href="">AR/VR PDF</a></li>
		  		<li><a href="">Voice PDF</a></li>
		  		<li><a href="">Gaming PDF</a></li>
		  		<li><a href="">IoT PDF</a></li>
		  		<li><a href="">Wearables PDF</a></li>
		  	</ul>
		  </div>
		  <div class="md:col-4 sm:col-12">
		  	<strong class="uppercase">Example Outputs</strong>
		  	<ul class="pl-2 mb-1">
		  		<li><a href=""></a></li>
		  		<li><a href=""></a></li>
		  		<li><a href=""></a></li>
		  		<li><a href=""></a></li>
		  	</ul>
		  </div>
		  <div class="md:col-4 sm:col-12">
		  	<strong class="uppercase">Case Studies</strong>
		  	<ul class="pl-2 mb-1">
		  		<li><a href=""></a></li>
		  		<li><a href=""></a></li>
		  		<li><a href=""></a></li>
		  		<li><a href=""></a></li>
		  		<li><a href=""></a></li>
		  	</ul>
		  </div>
		</div>
		<h3 class="type-headlineSection my-2">Startups</h3>
		<div class="row">
			<div class="md:col-4 sm:col-12">
		  	<ul class="pl-2 mb-1">
		  		<li><a href="">Subvsive</a></li>
		  		<li><a href="">NextNav</a></li>
		  		<li><a href="">Radaro</a></li>
		  		<li><a href="">Soul Machines</a></li>
		  		<li><a href="">Unsupervised</a></li>
		  		<li><a href="">Vntana</a></li>
		  		<li><a href="">Wiliot</a></li>
		  	</ul>
		  </div>
		</div>
	</div>

    
  </article>
{% endblock %}
