{#
  Twig Templating!
  Homepage: https://twig.symfony.com/
  Docs: https://twig.symfony.com/doc
#}

{% extends '_layouts/page.html' %}
{% set noHeader = false %}
{% set menuOnly = false %}
{% set menuInlineText = false %}
{% set noMenu = false %}
{% set noLogo = false %}
{% set recognition = true %}
{% set headerMenu = global.menu.mobility %}
{% set headerLogo = 'logo.png' %}
{% set title = "VMLY&R | Mobile Apps &amp; Emerging Technology" %}
{% set enableLibraryMasonry = true %}

{% block content %}
  <article id="intro" class="landing-home" id="top">
  	{% include "_components/intro.html" with {
  	"title": "Document Library",
  	"titleAbove": "Mobile Apps &amp; Emerging Technology",
  	"titleBelow": "",
  	"bgFileName": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/hero/constellation.jpg",
  	"classes": "vg-4 color-white"
  } %}
	<!-- Intro -->

	<div id="library" class="container px-2 py-3 bg-onyx-10">
		<h3 class="type-headlineSection mb-2">Mobile Apps</h3>
		<div class="row">
		  <div class="md:col-4 sm:col-12">
		  	<strong class="uppercase">Practice Overviews</strong>
		  	<ul class="pl-2 mb-1">
		  		<li><a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/Mobility%40VMLYR.2020.Portrait.zip?alt=media&token=33ff07de-a82b-4e0a-8ad1-f210731b87cf">Mobile Apps Keynote</a></li>
		  		<li><a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/Mobility%40VMLYR.2020.Portrait-compressed.pdf?alt=media&token=22cb8b9a-63b2-4045-8c59-f99ca09c1479">Mobile Apps PDF</a></li>
		  		<li><a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/pdf_export_development.pdf?alt=media&token=aa4719b9-00b8-4c23-83fa-597983e2c1a6">Strategy PDF</a></li>
		  		<li><a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/pdf_export_program.pdf?alt=media&token=82c90ad0-968f-4635-a735-d051c1e88c81">Program Management PDF</a></li>
		  		<li><a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/pdf_export_xd.pdf?alt=media&token=dc5a3ba4-ad8a-428f-83b9-e4744ecc28b9">XD &amp; Design PDF</a></li>
		  		<li><a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/pdf_export_development.pdf?alt=media&token=aa4719b9-00b8-4c23-83fa-597983e2c1a6">Development PDF</a></li>
		  		<li><a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/pdf_export_testing.pdf?alt=media&token=e9e729e1-cf8d-4218-88fd-3f6e0f282ab1">Testing PDF</a></li>
		  		<li><a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/pdf_export_lifecycle.pdf?alt=media&token=4908f1b8-568f-4d22-8335-fe7f3dbbebe4">Product Life-Cycle PDF</a></li>
		  	</ul>
		  </div>
		  <div class="md:col-4 sm:col-12">
		  	<strong class="uppercase">Example Outputs</strong>
		  	<ul class="pl-2 mb-1">
		  		<li><a href="https://yrb-my.sharepoint.com/:b:/g/personal/adam_jones_vmlyr_com/EeM7CO1daN1NivGd5do-MZsBVQ7hcPQVTjmCdcxWFa_Fgw?e=GoCb66">Brainsteer</a></li>
		  		<li><a href="https://yrb-my.sharepoint.com/:b:/g/personal/adam_jones_vmlyr_com/EZNxtPqjs7xEirsbwDqoencBoRTR8-qOH43nuwWMbWRL-g?e=WtkLTh">POC Planning</a></li>
		  		<li><a href="https://yrb-my.sharepoint.com/:b:/g/personal/adam_jones_vmlyr_com/EZB4-dYKYVlOgrCdn6AginEB1DAj1g5LcofxqqjP5JyCRg?e=3CxohR">Design Sprint</a><em class="font-light type-xs"> - United Rentals</em></li>
		  		<li><a href="https://yrb-my.sharepoint.com/:b:/g/personal/adam_jones_vmlyr_com/ESYG_A_qHk9AmJkFVWM9LK0BA-qnFwmV69frmg9xl0GXmQ?e=VaBHhM">Roadmap</a><em class="font-light type-xs"> - DSG</em></li>
		  		<li><a href="https://yrb-my.sharepoint.com/:b:/g/personal/adam_jones_vmlyr_com/EQ5rpcpFmBlKje9v_VhBhAgBmAGzfEQvEYOlTGx2PIc_vw?e=4VmAC4">The Next 30,60, &amp; 90 Days</a></li>
		  		<li><a href="https://yrb-my.sharepoint.com/:b:/g/personal/adam_jones_vmlyr_com/EXDeB-_OodNIlUHP5NGpJG8Bin0ffkesFQdkXIt19jQ75g?e=UdzWK3">HIG Assessment</a><em class="font-light type-xs"> - Wendy's</em></li>
		  		<li><a href="https://yrb-my.sharepoint.com/:b:/g/personal/adam_jones_vmlyr_com/EeEukFAHSwJKvZM2fGIlhdoBrM_M2YwH_tFQ4bJYYYvw4w?e=PShceh">Native v. Hybrid</a></li>
		  		<li><a href="https://yrb-my.sharepoint.com/:b:/g/personal/adam_jones_vmlyr_com/EfD7KUKoDDdEoi6qyVWtyX0BURqmHDqYHfrL1b-s3TxYHQ?e=M2lJi7">Beta Testing Plan</a><em class="font-light type-xs"> - Banfield</em></li>
		  		<li><a href="https://yrb-my.sharepoint.com/:b:/g/personal/adam_jones_vmlyr_com/EZwv6BVH4IZEuItiJoW-fJUB3d6c2eUkeEuwPbKqoGL7QQ?e=kcuC1U">App Store Optimization Plan</a><em class="font-light type-xs"> - Wendy's</em></li>
		  		<li><a href="https://yrb-my.sharepoint.com/:b:/g/personal/adam_jones_vmlyr_com/EXPP5g_DIpBKmyupJy9egT4BTUhJRDYayuObMEUnC5XP2A?e=yEyYuJ">Sample Aquisition Plan</a><em class="font-light type-xs"> - NBC Sports</em></li>
		  		<li><a href="https://yrb-my.sharepoint.com/:b:/g/personal/adam_jones_vmlyr_com/EVWqZAvGam1IkoSkbYENtx4BYYoUVXdm4jwFBVGOp0CtqA?e=Rv01K7">Sample Messaging Playbook</a><em class="font-light type-xs"> - Wendy's</em></li>
		  		<li><a href="https://yrb-my.sharepoint.com/:b:/g/personal/adam_jones_vmlyr_com/EZrXKjIpOSZKnnIM-o1BrW4B6BBGSFg8GwghBUvqe6f8Qg?e=pG5KCb">Sample Monthly Report</a><em class="font-light type-xs"> - Sherwin-Willams</em></li>
		  	</ul>
		  </div>
		  <div class="md:col-4 sm:col-12">
		  	<strong class="uppercase">Case Studies</strong>
		  	<ul class="pl-2 mb-1">
		  		<li><a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-FordPass.pdf?alt=media&token=ed7627ff-6d0f-4e95-9336-ef85cc156292">Ford</a></li>
		  		<li><a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-UR.pdf?alt=media&token=5c08985d-9ce9-45ba-ac35-bf16a0fcdef7">United Rentals</a></li>
		  		<li><a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-Banfield.pdf?alt=media&token=87bea5d5-6341-46f3-97d0-f9ca290ceb67">Banfield Pet Hospital</a></li>
		  		<li><a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-Bridgestone.pdf?alt=media&token=bf3aac02-8fc8-4380-b807-2dec573087a2">Bridgestone</a></li>
		  		<li><a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-LivingHistory.pdf?alt=media&token=a549c367-2ba4-4e59-9a45-90281bc10190">Living History</a></li>
		  		<li><a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-NBC.pdf?alt=media&token=9eabaaac-7371-4c5f-a8a9-cc06a7d8973d">NBC Sports</a></li>
		  		<li><a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-QT.pdf?alt=media&token=5aa75bc0-1851-437d-aca5-8c856e19eb0f">QuikTrip</a></li>
		  		<li><a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-Tenn.pdf?alt=media&token=4c072468-46f2-40f8-97d4-2124b3aedbac">Laugh Tracker</a></li>
		  		<li><a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-RipCurl.pdf?alt=media&token=21ecd89a-d529-4d5d-8a36-2486e1c4b93a">RipCurl</a></li>
		  		<li><a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-AAFP.pdf?alt=media&token=3c8ede3d-f7e1-4091-814e-f5c0678e5042">AAFP</a></li>
		  	</ul>
		  </div>
		</div>
		<h3 class="type-headlineSection my-2">Emerging Technology</h3>
		<div class="row">
		  <div class="md:col-4 sm:col-12">
		  	<strong class="uppercase">Practice Overviews</strong>
		  	<ul class="pl-2 mb-1">
		  		<li><a href="">Emerging Technology Keynote</a></li>
		  		<li><a href="">Emerging Technology PDF</a></li>
		  		<li><a href="">AR/VR PDF</a></li>
		  		<li><a href="">Voice PDF</a></li>
		  		<li><a href="">Gaming PDF</a></li>
		  		<li><a href="">IoT PDF</a></li>
		  		<li><a href="">Wearables PDF</a></li>
		  	</ul>
		  </div>
		  <div class="md:col-4 sm:col-12">
		  	<strong class="uppercase">Example Outputs</strong>
		  	<ul class="pl-2 mb-1">
		  		<!-- <li><a href=""></a></li>
		  		<li><a href=""></a></li>
		  		<li><a href=""></a></li>
		  		<li><a href=""></a></li> -->
		  	</ul>
		  </div>
		  <div class="md:col-4 sm:col-12">
		  	<strong class="uppercase">Case Studies</strong>
		  	<ul class="pl-2 mb-1">
		  		<!-- <li><a href=""></a></li>
		  		<li><a href=""></a></li>
		  		<li><a href=""></a></li>
		  		<li><a href=""></a></li>
		  		<li><a href=""></a></li> -->
		  	</ul>
		  </div>
		</div>
		<h3 class="type-headlineSection my-2">Startups</h3>
		<div class="row">
			<div class="md:col-4 sm:col-12">
		  	<ul class="pl-2 mb-1">
		  		<li><a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/startups%2Fstartup_subversive.pdf?alt=media&token=f528956e-5bfb-49c2-95c7-754590452785">Subvsive</a></li>
		  		<li><a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/startups%2Fstartup_nextnav.pdf?alt=media&token=2654c49f-0765-4dfd-ba3f-e6067b31274e">NextNav</a></li>
		  		<li><a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/startups%2Fstartup_radaro.pdf?alt=media&token=8847787c-2843-4fca-a64e-43c3fa2e4033">Radaro</a></li>
		  		<li><a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/startups%2Fstartup_soulmachines.pdf?alt=media&token=862b8d88-e040-4769-bb56-b9d518c58cac">Soul Machines</a></li>
		  		<li><a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/startups%2Fstartup_unsupervised.pdf?alt=media&token=5c1e11c2-7807-4ab5-9ea1-1619f33899e8">Unsupervised</a></li>
		  		<li><a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/startups%2Fstartup_vntana.pdf?alt=media&token=a12b5205-35b8-4a0e-b75c-50b208605d0f">Vntana</a></li>
		  		<li><a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/startups%2Fstartup_wiliot.pdf?alt=media&token=94a85d78-2dff-4bc3-8851-2d284e485153">Wiliot</a></li>
		  	</ul>
		  </div>
		</div>
	</div>

    
  </article>
{% endblock %}
