{#
  Twig Templating!
  Homepage: https://twig.symfony.com/
  Docs: https://twig.symfony.com/doc
#}

{% extends '_layouts/page.html' %}
{% set noHeader = false %}
{% set menuOnly = false %}
{% set menuInlineText = false %}
{% set noMenu = false %}
{% set noLogo = false %}
{% set recognition = true %}
{% set headerMenu = global.menu.mobility %}
{% set headerLogo = 'logo.png' %}
{% set title = "VMLY&R | Mobile Apps &amp; Emerging Technology" %}
{% set enableLibraryMasonry = true %}

{% block content %}
  <article id="intro" class="landing-home" id="top">
  	{% include "_components/intro.html" with {
  	"title": "Document Library",
  	"titleAbove": "Mobile Apps &amp; Emerging Technology",
  	"titleBelow": "",
  	"bgFileName": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/hero/constellation.jpg",
  	"classes": "vg-4 color-white"
  } %}
	<!-- Intro -->

	<div id="library" class="container px-2 py-3 bg-onyx-10">
		<h3 class="type-headlineSection mb-2">Mobile Apps</h3>
		<div class="row">
		  <div class="md:col-4 sm:col-12">
		  	<strong class="uppercase">Practice Overviews</strong>
		  	<ul class="pl-2 mb-1">
		  		<li><a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/Mobility%40VMLYR.2020.Portrait.zip?alt=media&token=33ff07de-a82b-4e0a-8ad1-f210731b87cf">Mobile Apps Keynote</a></li>
		  		<li><a href="https://vmlyr.docsend.com/view/r79yjgrkfspp6sev" target="_blank">Mobile Apps PDF</a></li>
		  		<li><a href="https://vmlyr.docsend.com/view/wird77ajav76jeqq" target="_blank">Strategy</a></li>
		  		<li><a href="https://vmlyr.docsend.com/view/fb4nvux3ped6kxri" target="_blank">Program Management</a></li>
		  		<li><a href="https://vmlyr.docsend.com/view/qq5hnevn4yqik74t" target="_blank">XD &amp; Design</a></li>
		  		<li><a href="https://vmlyr.docsend.com/view/vaeufq76zrbkqr27" target="_blank">Development</a></li>
		  		<li><a href="https://vmlyr.docsend.com/view/hsqjpwysrfjy89ta" target="_blank">Testing</a></li>
		  		<li><a href="https://vmlyr.docsend.com/view/ky24zip7dkivw5h4" target="_blank">Product Life-Cycle</a></li>
		  	</ul>
		  </div>
		  <div class="md:col-4 sm:col-12">
		  	<strong class="uppercase">Example Outputs</strong>
		  	<ul class="pl-2 mb-1">
		  		<li><a href="https://vmlyr.docsend.com/view/3msvasjf7pn9i8ke" target="_blank">Brainsteer</a></li>
		  		<li><a href="https://vmlyr.docsend.com/view/nk3zk3h53xe2jgmi" target="_blank">POC Planning</a></li>
		  		<li><a href="https://vmlyr.docsend.com/view/6wzxfjmpyg9xfja9" target="_blank">Design Sprint</a><em class="type-xs"> - United Rentals</em></li>
		  		<li><a href="https://vmlyr.docsend.com/view/h5z5b4ttjpzsjbsf" target="_blank">Roadmap</a><em class="type-xs"> - DSG</em></li>
		  		<li><a href="https://vmlyr.docsend.com/view/kgg2mk7a2en9q494" target="_blank">The Next 30,60, &amp; 90 Days</a></li>
		  		<li><a href="https://vmlyr.docsend.com/view/dqtpvbuh89iu3rvh" target="_blank">Heurisitic Assessment</a><em class="type-xs"> - Wendy's</em></li>
		  		<li><a href="https://vmlyr.docsend.com/view/4smqftvwtbgfqbkd" target="_blank">Native v. Hybrid</a></li>
		  		<li><a href="https://vmlyr.docsend.com/view/zyad6bbkxx4a29jj" target="_blank">Testing Plan</a><em class="type-xs"> - Banfield</em></li>
		  		<li><a href="https://vmlyr.docsend.com/view/krxg559s5x354sxx" target="_blank">ASO Plan</a><em class="type-xs"> - Wendy's</em></li>
		  		<li><a href="https://vmlyr.docsend.com/view/py9v3wfceaqz8vka" target="_blank">Sample Acquisition Plan</a><em class="type-xs"> - NBC Sports</em></li>
		  		<li><a href="https://vmlyr.docsend.com/view/ip3g7wd3inyrzna6" target="_blank">Sample Messaging Playbook</a><em class="type-xs"> - Wendy's</em></li>
		  		<li><a href="https://vmlyr.docsend.com/view/sfaypxwjnqdr2ve5" target="_blank">Sample Monthly Reporting</a><em class="type-xs"> - Sherwin-Willams</em></li>
		  	</ul>
		  </div>
		  <div class="md:col-4 sm:col-12">
		  	<strong class="uppercase">Case Studies</strong>
		  	<ul class="pl-2 mb-1">
		  		<li><a href="https://vmlyr.docsend.com/view/vb8w8xm3frd3taw5" target="_blank">Ford</a></li>
		  		<li><a href="https://vmlyr.docsend.com/view/trnbmg8nw6a4tm37" target="_blank">United Rentals</a></li>
		  		<li><a href="https://vmlyr.docsend.com/view/r6jkixyfkpmiiphr" target="_blank">Banfield Pet Hospital</a></li>
		  		<li><a href="https://vmlyr.docsend.com/view/sukmdsmz6egq8uwf" target="_blank">Bridgestone</a></li>
		  		<li><a href="https://vmlyr.docsend.com/view/3yshgramra8vnjaw" target="_blank">Living History</a></li>
		  		<li><a href="https://vmlyr.docsend.com/view/8wiiu4pvdk2ydhaq" target="_blank">NBC Sports</a></li>
		  		<li><a href="https://vmlyr.docsend.com/view/umyu67q8hp8m346v" target="_blank">QuikTrip</a></li>
		  		<li><a href="https://vmlyr.docsend.com/view/cgmbheas2v49hsd8" target="_blank">Laugh Tracker</a></li>
		  		<li><a href="https://vmlyr.docsend.com/view/f5x7qun325akazuw" target="_blank">RipCurl</a></li>
		  		<li><a href="https://vmlyr.docsend.com/view/2urznsu89f5x7jjj" target="_blank">AAFP</a></li>
		  	</ul>
		  </div>
		</div>
		<h3 class="type-headlineSection my-2">Emerging Technology</h3>
		<div class="row">
		  <div class="md:col-4 sm:col-12">
		  	<strong class="uppercase">Practice Overviews</strong>
		  	<ul class="pl-2 mb-1">
		  		<li><a href="">Emerging Technology Keynote</a></li>
		  		<li><a href="">Emerging Technology PDF</a></li>
		  		<li><a href="">AR/VR</a></li>
		  		<li><a href="">Voice</a></li>
		  		<li><a href="">Gaming</a></li>
		  		<li><a href="">IoT</a></li>
		  		<li><a href="">Wearables</a></li>
		  	</ul>
		  </div>
		  <div class="md:col-4 sm:col-12">
		  	<strong class="uppercase">Example Outputs</strong>
		  	<ul class="pl-2 mb-1">
		  		<!-- <li><a href=""></a></li>
		  		<li><a href=""></a></li>
		  		<li><a href=""></a></li>
		  		<li><a href=""></a></li> -->
		  	</ul>
		  </div>
		  <div class="md:col-4 sm:col-12">
		  	<strong class="uppercase">Case Studies</strong>
		  	<ul class="pl-2 mb-1">
		  		<!-- <li><a href=""></a></li>
		  		<li><a href=""></a></li>
		  		<li><a href=""></a></li>
		  		<li><a href=""></a></li>
		  		<li><a href=""></a></li> -->
		  	</ul>
		  </div>
		</div>
		<h3 class="type-headlineSection my-2">Startups</h3>
		<div class="row">
			<div class="md:col-4 sm:col-12">
		  	<ul class="pl-2 mb-1">
		  		<li><a href="https://vmlyr.docsend.com/view/82fqkxv5deiesr5g" target="_blank">Subvsive</a></li>
		  		<li><a href="https://vmlyr.docsend.com/view/ajjbtp255yvmatej" target="_blank">NextNav</a></li>
		  		<li><a href="https://vmlyr.docsend.com/view/fcupk7qjy8qy2hsa" target="_blank">Radaro</a></li>
		  		<li><a href="https://vmlyr.docsend.com/view/hm4a4ap3wbxu4nnj" target="_blank">Soul Machines</a></li>
		  		<li><a href="https://vmlyr.docsend.com/view/3mgw9av66886ktsx" target="_blank">Unsupervised</a></li>
		  		<li><a href="https://vmlyr.docsend.com/view/ctyttp8aypqttdxa" target="_blank">Vntana</a></li>
		  		<li><a href="https://vmlyr.docsend.com/view/w6bfy6h92qh2cn74" target="_blank">Wiliot</a></li>
		  	</ul>
		  </div>
		</div>
	</div>

    
  </article>
{% endblock %}
