{#
  Twig Templating!
  Homepage: https://twig.symfony.com/
  Docs: https://twig.symfony.com/doc
#}

{% extends '_layouts/page.html' %}
{% set noHeader = false %}
{% set menuOnly = false %}
{% set menuInlineText = false %}
{% set noMenu = false %}
{% set noLogo = false %}
{% set recognition = true %}
{% set headerMenu = global.menu.mobility %}
{% set headerLogo = 'logo.png' %}
{% set title = "VMLY&R | Mobile Apps &amp; Emerging Technology" %}
{% set enableLibraryMasonry = true %}

{% block content %}
  <article id="intro" class="landing-home" id="top">
  	{% include "_components/intro.html" with {
  	"title": "Emerging Technology",
  	"titleAbove": "",
  	"titleBelow": "@ VMLY&amp;R",
  	"bgFileName": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/hero/constellation.jpg",
  	"classes": "vg-4 color-white",
  	"buttons": [
  	{
      "title": "Download PDF",
      "url": "https://vmlyr.docsend.com/view/e4e283zpnzishh42",
      "icon": "dl",
      "size": "xs",
      "newWindow": true,
      "class": "button--white",
      "heading": ""
    },
    {
      "title": "Download Keynote",
      "url": "https://vmlyr.docsend.com/view/6uqzckr3vmjdmia7",
      "icon": "dl",
      "size": "xs",
      "newWindow": true,
      "class": "button--white",
      "heading": ""
    }
    ]
  } %}
	<!-- Intro -->

	<!-- Our Practice -->
	<div id="focused" class="container px-2 py-3 bg-onyx-10">
		<h3 class="type-headlineSection mb-2">Focused Emerging Tech</h3>
		<dl class="faq__list">
			<div class="faq__row">
				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">AR/VR</h5> 
					<p class="uppercase type-sm color-onyx-60">Augmented Reality and Virtual Reality</p>
				</div>
				{% endblock %}
				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						<img src="assets/images/practice/img_ar_pdf.png" style="box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.2);">
						<p class="mt-1">
							<a href="https://vmlyr.docsend.com/view/zn8jnbbsgitaybee" target="_blank">Download PDF</a>
						</p>
						<p class="mt-2">Partnerships</p>
						<a href="https://vmlyr.docsend.com/view/wd4888jibeqxpxgb" target="_blank" class="block">VMLY&R and SubVRsive XR studio</a>
	  				</div>
	  				<div class="col-12 md:col-10">
	  				<h5 class="color-purple-medium">A NEW REALITY</h5>
	  				<p class="my-1">The digital world meets the real world in more than just a wave of gaming applications. We take the core aspects of mixed reality and drive real solutions to tactical problems. </p>
	  				<p class="my-1">In this PDF we will address:</p>
	  				<div class="pl-2">
		  				<p class="uppercase font-bold color-purple-medium">WHAT IS AR?</p>
		  				<p class="type-sm">Where does AR make a difference in the life of a consumer?</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">DRIVERS OF AR</p>
		  				<p class="type-sm">Companies that supply or enhance AR experiences.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">ARKIT AND AR CORE</p>
		  				<p class="type-sm">Leveraging the latest from Apple and Google to build world-class experiences.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">VIRTUAL REALITY</p>
		  				<p class="type-sm">Endless applications with VR headsets going wireless.</p>
		  				</div>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}
				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">Voice</h5> 
					<p class="uppercase type-sm color-onyx-60">Meaningful handsfree interactions</p>
				</div>
				{% endblock %}
				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						<img src="assets/images/practice/img_voice_pdf.png" style="box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.2);">
						<p class="mt-1">
							<a href="https://vmlyr.docsend.com/view/dhtpt6dmftcg8ecq" target="_blank">Download PDF</a>
						</p>
						<p class="mt-2">Assistants</p>
						<a href="https://vmlyr.docsend.com/view/gaj4r5duxirwd3fq" target="_blank" class="block">Home Assistants</a>
						<a href="https://vmlyr.docsend.com/view/giajcgu28mv6p36x" target="_blank" class="block">Conversational AI</a>
	  				</div>
	  				<div class="col-12 md:col-10">
	  				<h5 class="color-purple-medium">CONVERSATIONAL AI</h5>
	  				<p class="my-1">Voice experiences are appearing everywhere. Smart speakers in the home, in your car, on your phone or at a kiosk in the store gives consumers the opportunity to interact in a personalized way with brands and products.</p>
	  				<p class="my-1">In this PDF we will address:</p>
	  				<div class="pl-2">
		  				<p class="uppercase font-bold color-purple-medium">Virtual Assistants</p>
		  				<p class="type-sm">Voice devices in the home account for the majority of experiences ranging from Smart Home to Kitchen Assistance.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">ZERO UI</p>
		  				<p class="type-sm">Assistants are built on speech recognition, so instead of swiping and typing, you can stay heads-up and hands-free while you multitask around the house. </p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">BRAND VOICE</p>
		  				<p class="type-sm">Using various tips and tricks brands can overcome the robotic feeling of a voice assistant and discover their own voice.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">DEVELOPMENT</p>
		  				<p class="type-sm">With a variety of native and platform solutions for voice and chat, VMLY&R can accommodate many sets of requirements and cross channel asks.</p>
	  				</div>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}

				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">GAMING</h5> 
					<p class="uppercase type-sm color-onyx-60">A new way to message</p>
				</div>
				{% endblock %}

				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						<img src="assets/images/practice/img_gaming_pdf.png" style="box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.2);">
						<p class="mt-1">
							<a href="https://vmlyr.docsend.com/view/8hs8ifdfwca38869" target="_blank">Download PDF</a>
						</p>
	  				</div>
	  				<div class="col-12 md:col-10">
	  				<h5 class="color-purple-medium">A GROWING AUDIENCE</h5>
	  				<p class="my-1">The world of gaming and esports has grown significantly in recent years. Brands and their ability to contribute and highlight the space often find themselves with a loyal demographic and endless options to drive revenue.</p>
	  				<div class="pl-2">
		  				<p class="uppercase font-bold color-purple-medium">ESPORTS</p>
		  				<p class="type-sm">Explore the growing world of competitive gaming. From league sponsorship to product placement on an athlete’s instagram, the sky is the limit.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">MOBILE GAMING</p>
		  				<p class="type-sm">Gaming on the go is more popular than ever. Look at ways to take advantage of the space.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">TYPES OF GAMERS</p>
		  				<p class="type-sm">Know the audience that drives gaming and how to talk to them. </p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">WAYS IN FOR BRANDS</p>
		  				<p class="type-sm">Gaming is a complex space that has many avenues for success.</p>
	  				</div>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}

				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">IOT</h5> 
					<p class="uppercase type-sm color-onyx-60">The Internet of Things</p>
				</div>
				{% endblock %}

				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						<img src="assets/images/practice/img_iot_pdf.png" style="box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.2);">
						<p class="mt-1">
							<a href="https://vmlyr.docsend.com/view/2tjjtqvqq9fw4tkg" target="_blank">Download PDF</a>
						</p>
						<p class="mt-2">POV</p>
						<a href="https://vmlyr.docsend.com/view/xgmf8chmfqbshmg6" target="_blank" class="block">IoT POV</a>
	  				</div>
	  				<div class="col-12 md:col-10">
	  				<h5 class="color-purple-medium">POWERING THE WORLD</h5>
	  				<p class="my-1">Brands can benefit from the growing world of automation and smart devices in many ways. The internet of things (IOT) can power workflows that lead consumers on a journey that satisfies their needs in the moment. </p>
	  				<p class="my-1">In this PDF we will address:</p>
	  				<div class="pl-2">
		  				<p class="uppercase font-bold color-purple-medium">SMART HOMES</p>
		  				<p class="type-sm">Gather, measure and automate electronic device data to learn and enhance daily life.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">PUBLIC SPACES</p>
		  				<p class="type-sm">Build when it makes sense and integrate often to allow for growth and fresh data.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">BEACONS</p>
		  				<p class="type-sm">Precision development requires a strong plan. Architecting that factors all the idiosyncrasies of a project plan. </p>
		  				
	  				</div>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}

				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">WEARABLES</h5> 
					<p class="uppercase type-sm color-onyx-60">Sensors and Tracking</p>
				</div>
				{% endblock %}

				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						<img src="assets/images/practice/img_wearables_pdf.png" style="box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.2);">
						<p class="mt-1">
							<a href="https://vmlyr.docsend.com/view/zac5c9feq8cjnq4d" target="_blank">Download PDF</a>
						</p>
	  				</div>
	  				<div class="col-12 md:col-10">
	  				<h5 class="color-purple-medium">CONSTANT BIOMETRIC FEEDBACK</h5>
	  				<p class="my-1">Wearables have expended past the wrist and represent a growing market in the health and beauty space. But biometrics has the ability to move beyond simply tracking and compiling. We can crunch the data to deliver amazing experiences </p>
	  				<p class="my-1">In this PDF we will address:</p>
	  				<div class="pl-2">
		  				<p class="uppercase font-bold color-purple-medium">WRIST WEARABLES</p>
		  				<p class="type-sm">Watches are the main consumer wearables and allow for application development.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">HEARABLES</p>
		  				<p class="type-sm">New advances in headphones allow us to track heart rate and other data as well as share content like SMS and Voice Assistants in ear.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">PHARMA NEEDS</p>
		  				<p class="type-sm">Heart rate and other health data can be captured and shared from a series of wearables devices on the market.</p>
	  				</div>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}
			</div>
		</dl>
	</div>

	<!-- WORK -->
	<div id="etWork" class="row mx-0 px-2 py-3 bg-blue">
	  <div class="col-12">
	  	<h3 class="type-headlineSection mb-2 color-white">Case Studies</h3>
	  </div>
	  <div class="container py-2 carousel__hero px-0">
      {% embed "_components/carousel.html" with {
        "tnsOptions": {
          autoHeight: true,
          autoplay: true,
          autoplayTimeout: 5000,
          nav: true,
          responsive: {
            '1024': {
              edgePadding: 200,
              rewind: false
            }
          }
        },
        "counter": {
          "hide": true,
          "backdrop": false,
          "inverted": false
        },
        "controls": {
          "fixed": false
        },
        "iconLeft": {
          "name": "return-left",
          "color": "color-gray",
          "size": "xl"
        },
        "iconRight": {
          "name": "return-right",
          "color": "color-gray",
          "size": "xl"
        }
      } %}
        {% block carousel %}
          <div class="carousel__slide intro">
            <a href="https://vmlyr.docsend.com/view/5n94zhscx8ms898h" target="_blank"><img src="assets/images/casestudies/img/img_cs_wwe.png" alt=""></a>
            <div class="carousel__slideBox">
                <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://vmlyr.docsend.com/view/9phf6gr73papds9f" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://vmlyr.docsend.com/view/xrfn3rg2qut6nxun" target="_blank"><img src="assets/images/casestudies/img/img_cs_burgertime.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://vmlyr.docsend.com/view/xrfn3rg2qut6nxun" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://vmlyr.docsend.com/view/d52izctbahbkfss5" target="_blank"><img src="assets/images/casestudies/img/img_cs_measure.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://vmlyr.docsend.com/view/wuykb4df5x2dse9u" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://vmlyr.docsend.com/view/jtvnzivimyheewiu" target="_blank"><img src="assets/images/casestudies/img/img_cs_easybutton.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://vmlyr.docsend.com/view/jtvnzivimyheewiu" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://vmlyr.docsend.com/view/fymz4c7rd8uetah2" target="_blank"><img src="assets/images/casestudies/img/img_cs_medtranslate.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://vmlyr.docsend.com/view/fymz4c7rd8uetah2" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://vmlyr.docsend.com/view/put3tdfxqdxwwynk" target="_blank"><img src="assets/images/casestudies/img/img_cs_ fpwrist.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://vmlyr.docsend.com/view/put3tdfxqdxwwynk" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://vimeo.com/375767133" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_tenn.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://vimeo.com/375767133" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
	                </div>
	                <div class="col-6">
	                	<a href="https://vmlyr.docsend.com/view/5fm5yaycz8e48ee5" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://www.youtube.com/watch?time_continue=57&v=YgnTsf_z0G0&feature=emb_logo" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_rc.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://www.youtube.com/watch?time_continue=57&v=YgnTsf_z0G0&feature=emb_logo" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
	                </div>
	                <div class="col-6">
	                	<a href="https://vmlyr.docsend.com/view/f5x7qun325akazuw" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
        {% endblock %}
      {% endembed %}
    </div>
	</div>
	<!-- Thought Leadership-->
	<div id="et-articles" class="container px-2 py-3 bg-onyx-10">
		<h3 class="type-headlineSection mb-2">Thought Leadership</h3>
		{% set masonryFilters = [
		  {
		    "value": ".filter--categoryVR",
		    "label": "VR"
		  },
		  {
		    "value": ".filter--categoryVoice",
		    "label": "Voice"
		  },
		  {
		    "value": ".filter--categoryCrypto",
		    "label": "Cryptocurrency"
		  },
		  {
		    "value": ".filter--categoryGame",
		    "label": "Gaming"
		  }
		] %}
		{% embed "_components/masonry/content.html" with { "shuffle": false, "filters": masonryFilters } %}
		  {% block list %}
		    <div class="masonry__item filter--categoryGame">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "Extra Life 24-Hr",
				    "sub": "Gaming Marathon"
				  },
				  "hotspot": {
				    "url": "https://passport.vmlyr.com/post/vmlyr-gtb-participate-extra-life-24-hr-gaming-marathon",
				    "icon": 'link',
				    "newWindow": true,
				  },
				  "picture": {
				    "altText": "article",
				    "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/simplecrop/public/extra-life-banner-e1405726479104_0.png?itok=zPzz459C&sc=9feb65c099d96128227bb9e65cc2a01f",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		    </div>
		    <div class="masonry__item filter--categoryET">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "Welcome to 5G",
				    "sub": "Why is 5G a big deal?"
				  },
				  "hotspot": {
				    "url": "https://passport.vmlyr.com/post/welcome-5g",
				    "icon": 'link',
				    "newWindow": true,
				  },
				  "picture": {
				    "altText": "article",
				    "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/simplecrop/public/5g_0.jpg?itok=KyQpmdCL&sc=1a6bf4d26eb5c13f9b02245196904cc8",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		    </div>
		    <div class="masonry__item filter--categoryVR filter--categoryET">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "New Experience Opportunities",
				    "sub": "in VR"
				  },
				  "hotspot": {
				    "url": "https://passport.vmlyr.com/post/new-experience-opportunities-vr",
				    "icon": 'link',
				    "newWindow": true,
				  },
				  "picture": {
				    "altText": "article",
				    "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/simplecrop/public/facebook_horizon_vr.jpg?itok=WsLXoeVw&sc=a2ef9402ab7e4f5a8e1bc540b1bbb087",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		    </div>
		    <div class="masonry__item filter--categoryET">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "Birth of a Patent",
				    "sub": ""
				  },
				  "hotspot": {
				    "url": "https://passport.vmlyr.com/post/birth-patent",
				    "icon": 'link',
				    "newWindow": true,
				  },
				  "picture": {
				    "altText": "article",
				    "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/simplecrop/public/us07376091-20080520-d00001.png?itok=roYrAG5w&sc=22aefe0691c9005b009afad1dd0d2807",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		    </div>
		    <div class="masonry__item filter--categoryVoice">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "Give Voice a Change",
				    "sub": ""
				  },
				  "hotspot": {
				    "url": "https://passport.vmlyr.com/post/give-voice-chance",
				    "icon": 'link',
				    "newWindow": true,
				  },
				  "picture": {
				    "altText": "article",
				    "srcPath": "https://images.unsplash.com/photo-1512446816042-444d641267d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		    </div>
		    <div class="masonry__item filter--categoryGame">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "Gaming & eSports Update",
				    "sub": "@ VMLY&R"
				  },
				  "hotspot": {
				    "url": "https://passport.vmlyr.com/post/vmlyr-gaming-esports-update",
				    "icon": 'link',
				    "newWindow": true,
				  },
				  "picture": {
				    "altText": "article",
				    "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/simplecrop/public/gamingsplash_0.jpeg?itok=drDP5K85&sc=4c758c6a0963cd2eedd9d631f4aa441b",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		    </div>
		  {% endblock %}
		{% endembed %}
	</div>

	<!-- <div id="startups" class="container px-2 py-3 bg-white">
		<h3 class="type-headlineSection mb-2">Startup One-Sheeters</h3>
		<ul class="logoWall logoWall--wide">
			<li class="logoWall__col">
			    {% include "_components/spotlight.html" with {
				  "title": {},
				  "hotspot": {
				    "url": "https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/startups%2Fstartup_subversive.pdf?alt=media&token=f528956e-5bfb-49c2-95c7-754590452785",
				    "icon": 'doc-pdf',
				    "isVideo": true,
				  },
				  "picture": {
				    "altText": "Subvsive",
				    "srcPath": "assets/images/startups/startup_subvrsive.png",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
			</li>
			<li class="logoWall__col">
				{% include "_components/spotlight.html" with {
				  "title": {},
				  "hotspot": {
				    "url": "https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/startups%2Fstartup_nextnav.pdf?alt=media&token=2654c49f-0765-4dfd-ba3f-e6067b31274e",
				    "icon": 'doc-pdf',
				    "isVideo": true,
				  },
				  "picture": {
				    "altText": "NextNav",
				    "srcPath": "assets/images/startups/startup_nextnav.png",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		  	</li>
		  	<li class="logoWall__col">
				{% include "_components/spotlight.html" with {
				  "title": {},
				  "hotspot": {
				    "url": "https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/startups%2Fstartup_radaro.pdf?alt=media&token=8847787c-2843-4fca-a64e-43c3fa2e4033",
				    "icon": 'doc-pdf',
				    "isVideo": true,
				  },
				  "picture": {
				    "altText": "Radaro",
				    "srcPath": "assets/images/startups/startup_radaro.png",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		  	</li>
		  	<li class="logoWall__col">
				{% include "_components/spotlight.html" with {
				  "title": {},
				  "hotspot": {
				    "url": "https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/startups%2Fstartup_soulmachines.pdf?alt=media&token=862b8d88-e040-4769-bb56-b9d518c58cac",
				    "icon": 'doc-pdf',
				    "isVideo": true,
				  },
				  "picture": {
				    "altText": "Soul Machines",
				    "srcPath": "assets/images/startups/startup_soulmachines.png",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		  	</li>
		  	<li class="logoWall__col">
				{% include "_components/spotlight.html" with {
				  "title": {},
				  "hotspot": {
				    "url": "https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/startups%2Fstartup_unsupervised.pdf?alt=media&token=5c1e11c2-7807-4ab5-9ea1-1619f33899e8",
				    "icon": 'doc-pdf',
				    "isVideo": true,
				  },
				  "picture": {
				    "altText": "Unsupervised",
				    "srcPath": "assets/images/startups/startup_unsupervised.png",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		  	</li>
		  	<li class="logoWall__col">
				{% include "_components/spotlight.html" with {
				  "title": {},
				  "hotspot": {
				    "url": "https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/startups%2Fstartup_vntana.pdf?alt=media&token=a12b5205-35b8-4a0e-b75c-50b208605d0f",
				    "icon": 'doc-pdf',
				    "isVideo": true,
				  },
				  "picture": {
				    "altText": "Vntana",
				    "srcPath": "assets/images/startups/startup_vntana.png",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		  	</li>
		  	<li class="logoWall__col">
				{% include "_components/spotlight.html" with {
				  "title": {},
				  "hotspot": {
				    "url": "https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/startups%2Fstartup_wiliot.pdf?alt=media&token=94a85d78-2dff-4bc3-8851-2d284e485153",
				    "icon": 'doc-pdf',
				    "isVideo": true,
				  },
				  "picture": {
				    "altText": "Wiliot",
				    "srcPath": "assets/images/startups/startup_wiliot.png",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		  	</li>
		</ul>
	</div> -->
	<div id="etContacts" class="container mx-0 px-2 py-3 bg-blue">
		<h3 class="type-headlineSection mb-2 color-white">Team Contacts</h3>
		<div class="row">
			<div class="col-auto">
				{% include "_components/team.html" with {
			      "name": "Brian Yamada",
			      "title": "Chief Innovation Officer",
			      "bio": "",
			      "picture": {
			        "altText": "Yamada",
			        "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/large/public/user-photo/brian_yamada_2.jpg?itok=eOi_Lm2n",
			        "placeholderSize": "500 330"
			      }
			    } %}
			</div>
			<div class="col-auto">
				{% include "_components/team.html" with {
			      "name": "Eric Pfeifer",
			      "title": "Strategy",
			      "bio": "",
			      "picture": {
			        "altText": "Pfeifer",
			        "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/large/public/user-photo/ericpfeifer.jpg?itok=eQu0m3kF",
			        "placeholderSize": "500 330"
			      }
			    } %}
			</div>
			<div class="col-auto">
				{% include "_components/team.html" with {
			      "name": "Jeff Danley",
			      "title": "Gaming & Cryptocurrency",
			      "bio": "",
			      "picture": {
			        "altText": "Danley",
			        "srcPath": "assets/images/profiles/img_profile_danley.png",
			        "placeholderSize": "500 330"
			      }
			    } %}
			</div>
			<div class="col-auto">
				{% include "_components/team.html" with {
			      "name": "Ian Cahill",
			      "title": "Voice & Prototyping",
			      "bio": "",
			      "picture": {
			        "altText": "Cahill",
			        "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/large/public/user-photo/os0c3056.jpg?itok=N066u-SI",
			        "placeholderSize": "500 330"
			      }
			    } %}
			</div>
		</div>
	</div>

    
  </article>
{% endblock %}
