{#
  Twig Templating!
  Homepage: https://twig.symfony.com/
  Docs: https://twig.symfony.com/doc
#}

{% extends '_layouts/page.html' %}
{% set noHeader = false %}
{% set menuOnly = false %}
{% set menuInlineText = false %}
{% set noMenu = false %}
{% set noLogo = false %}
{% set recognition = true %}
{% set headerMenu = global.menu.mobility %}
{% set headerLogo = 'logo.png' %}
{% set title = "VMLY&R | Mobile Apps &amp; Emerging Technology" %}
{% set enableLibraryMasonry = true %}

{% block content %}
  <article id="intro" class="landing-home" id="top">
  	{% include "_components/intro.html" with {
  	"title": "Emerging Technology",
  	"titleAbove": "",
  	"titleBelow": "@ VMLY&amp;R",
  	"bgFileName": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/hero/constellation.jpg",
  	"classes": "vg-4 color-white",
  	"buttons": [
  	{
      "title": "Download PDF",
      "url": "",
      "icon": "dl",
      "size": "xs",
      "newWindow": true,
      "class": "button--white",
      "heading": ""
    },
    {
      "title": "Download Keynote",
      "url": "",
      "icon": "dl",
      "size": "xs",
      "newWindow": true,
      "class": "button--white",
      "heading": ""
    }
    ]
  } %}
	<!-- Intro -->

	<!-- Our Practice -->

	<!-- WORK -->
	<div id="appWork" class="row mx-0 px-2 py-3 bg-blue">
	  <div class="col-12">
	  	<h3 class="type-headlineSection mb-2 color-white">Case Studies</h3>
	  </div>
	  <div class="container py-2 carousel__hero px-0">
      {% embed "_components/carousel.html" with {
        "tnsOptions": {
          autoHeight: true,
          autoplay: true,
          autoplayTimeout: 5000,
          nav: true,
          responsive: {
            '1024': {
              edgePadding: 200,
              rewind: false
            }
          }
        },
        "counter": {
          "hide": true,
          "backdrop": false,
          "inverted": false
        },
        "controls": {
          "fixed": false
        },
        "iconLeft": {
          "name": "return-left",
          "color": "color-gray",
          "size": "xl"
        },
        "iconRight": {
          "name": "return-right",
          "color": "color-gray",
          "size": "xl"
        }
      } %}
        {% block carousel %}
          <div class="carousel__slide intro">
            <a href="https://vimeo.com/385296937" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_fp.png" alt=""></a>
            <div class="carousel__slideBox">
                <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://vimeo.com/385296937" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
	                </div>
	                <div class="col-6">
	                	<a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-FordPass.pdf?alt=media&token=ed7627ff-6d0f-4e95-9336-ef85cc156292" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://www.youtube.com/watch?v=s7ZeRL14kus&feature=emb_logo" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_ur.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://www.youtube.com/watch?v=s7ZeRL14kus&feature=emb_logo" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
	                </div>
	                <div class="col-6">
	                	<a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-UR.pdf?alt=media&token=5c08985d-9ce9-45ba-ac35-bf16a0fcdef7" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-Banfield.pdf?alt=media&token=87bea5d5-6341-46f3-97d0-f9ca290ceb67" target="_blank"><img src="assets/images/casestudies/img/img_cs_bf.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-Banfield.pdf?alt=media&token=87bea5d5-6341-46f3-97d0-f9ca290ceb67" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://www.youtube.com/watch?v=9JEbBqXvXw0" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_bs.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://www.youtube.com/watch?v=9JEbBqXvXw0" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
	                </div>
	                <div class="col-6">
	                	<a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-Bridgestone.pdf?alt=media&token=bf3aac02-8fc8-4380-b807-2dec573087a2" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://youtu.be/5RDsa3KbNAk" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_lh.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://youtu.be/5RDsa3KbNAk" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
	                </div>
	                <div class="col-6">
	                	<a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-LivingHistory.pdf?alt=media&token=a549c367-2ba4-4e59-9a45-90281bc10190" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-NBC.pdf?alt=media&token=9eabaaac-7371-4c5f-a8a9-cc06a7d8973d" target="_blank"><img src="assets/images/casestudies/img/img_cs_nbc.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-NBC.pdf?alt=media&token=9eabaaac-7371-4c5f-a8a9-cc06a7d8973d" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://vimeo.com/282366020" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_qt.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://vimeo.com/282366020" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
	                </div>
	                <div class="col-6">
	                	<a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-QT.pdf?alt=media&token=5aa75bc0-1851-437d-aca5-8c856e19eb0f" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://vimeo.com/375767133" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_tenn.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://vimeo.com/375767133" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
	                </div>
	                <div class="col-6">
	                	<a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-Tenn.pdf?alt=media&token=4c072468-46f2-40f8-97d4-2124b3aedbac" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://www.youtube.com/watch?time_continue=57&v=YgnTsf_z0G0&feature=emb_logo" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_rc.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://www.youtube.com/watch?time_continue=57&v=YgnTsf_z0G0&feature=emb_logo" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
	                </div>
	                <div class="col-6">
	                	<a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-RipCurl.pdf?alt=media&token=21ecd89a-d529-4d5d-8a36-2486e1c4b93a" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/videos%2FAAFP_Animatic_Edit_04.mp4?alt=media&token=0aab8597-eeed-4b59-966a-562f92d8b058" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_aafp.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/videos%2FAAFP_Animatic_Edit_04.mp4?alt=media&token=0aab8597-eeed-4b59-966a-562f92d8b058" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
	                </div>
	                <div class="col-6">
	                	<a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-AAFP.pdf?alt=media&token=3c8ede3d-f7e1-4091-814e-f5c0678e5042" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
        {% endblock %}
      {% endembed %}
    </div>
	</div>

	
	<div id="appContacts" class="container mx-0 px-2 py-3 bg-blue">
		<h3 class="type-headlineSection mb-2 color-white">Team Contacts</h3>
		<div class="row">
			<div class="col-auto">
				{% include "_components/team.html" with {
			      "name": "Brian Yamada",
			      "title": "Chief Innovation Officer",
			      "bio": "",
			      "picture": {
			        "altText": "Yamada",
			        "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/large/public/user-photo/brian_yamada_2.jpg?itok=eOi_Lm2n",
			        "placeholderSize": "500 330"
			      }
			    } %}
			</div>
			<div class="col-auto">
				{% include "_components/team.html" with {
			      "name": "Eric Pfeifer",
			      "title": "Strategy",
			      "bio": "",
			      "picture": {
			        "altText": "Pfeifer",
			        "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/large/public/user-photo/ericpfeifer.jpg?itok=eQu0m3kF",
			        "placeholderSize": "500 330"
			      }
			    } %}
			</div>
			<div class="col-auto">
				{% include "_components/team.html" with {
			      "name": "Jeff Danley",
			      "title": "Gaming, Cryptocurrency",
			      "bio": "",
			      "picture": {
			        "altText": "Danley",
			        "srcPath": "assets/images/profiles/img_profile_danley.png",
			        "placeholderSize": "500 330"
			      }
			    } %}
			</div>
			<div class="col-auto">
				{% include "_components/team.html" with {
			      "name": "Ian Cahill",
			      "title": "Voice",
			      "bio": "",
			      "picture": {
			        "altText": "Cahill",
			        "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/large/public/user-photo/os0c3056.jpg?itok=N066u-SI",
			        "placeholderSize": "500 330"
			      }
			    } %}
			</div>
		</div>
	</div>

    
  </article>
{% endblock %}
