{#
  Twig Templating!
  Homepage: https://twig.symfony.com/
  Docs: https://twig.symfony.com/doc
#}

{% extends '_layouts/page.html' %}
{% set noHeader = false %}
{% set menuOnly = false %}
{% set menuInlineText = false %}
{% set noMenu = false %}
{% set noLogo = false %}
{% set recognition = true %}
{% set headerMenu = global.menu.mobility %}
{% set headerLogo = 'logo.png' %}
{% set title = "VMLY&R | Mobile Apps &amp; Emerging Technology" %}
{% set enableLibraryMasonry = true %}

{% block content %}
  <article id="intro" class="landing-home" id="top">
  	{% include "_components/intro.html" with {
  	"title": "Emerging Technology",
  	"titleAbove": "",
  	"titleBelow": "@ VMLY&amp;R",
  	"bgFileName": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/hero/constellation.jpg",
  	"classes": "vg-4 color-white",
  	"buttons": [
  	{
      "title": "Download PDF",
      "url": "#",
      "icon": "dl",
      "size": "xs",
      "newWindow": true,
      "class": "button--white",
      "heading": ""
    },
    {
      "title": "Download Keynote",
      "url": "#",
      "icon": "dl",
      "size": "xs",
      "newWindow": true,
      "class": "button--white",
      "heading": ""
    }
    ]
  } %}
	<!-- Intro -->

	<!-- Our Practice -->
	<div id="appPractice" class="container px-2 py-3 bg-onyx-10">
		<h3 class="type-headlineSection mb-2">Focused Emerging Tech</h3>
		<dl class="faq__list">
			<div class="faq__row">
				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">AR/VR</h5> 
					<p class="uppercase type-sm color-onyx-60">Augmented Reality and Virtual Reality</p>
				</div>
				{% endblock %}
				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						<img src="assets/images/practice/img_strategy_pdf.jpg" style="box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.2);">
						<p class="mt-1">
							<a href="#" target="_blank">Download PDF</a>
						</p>
	  				</div>
	  				<div class="col-12 md:col-10">
	  				<h5 class="color-purple-medium">A NEW REALITY</h5>
	  				<p class="my-1">The digital world meets the real world in more than just a wave of gaming applications. We take the core aspects of mixed reality and drive real solutions to tactical problems. </p>
	  				<p class="my-1">In this PDF we will address:</p>
	  				<div class="pl-2">
		  				<p class="uppercase font-bold color-purple-medium">WHAT IS AR?</p>
		  				<p class="type-sm">Where does AR make a difference in the life of a consumer?</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">DRIVERS OF AR</p>
		  				<p class="type-sm">Companies that supply or enhance AR experiences.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">ARKIT AND AR CORE</p>
		  				<p class="type-sm">Leveraging the latest from Apple and Google to build world-class experiences.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">VIRTUAL REALITY</p>
		  				<p class="type-sm">Endless applications with VR headsets going wireless.</p>
		  				</div>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}
				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">Voice</h5> 
					<p class="uppercase type-sm color-onyx-60">Meaningful handsfree interactions</p>
				</div>
				{% endblock %}
				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						<img src="assets/images/practice/img_programmgmt_pdf.jpg" style="box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.2);">
						<p class="mt-1">
							<a href="#" target="_blank">Download PDF</a>
						</p>
	  				</div>
	  				<div class="col-12 md:col-10">
	  				<h5 class="color-purple-medium">CONVERSATIONAL AI</h5>
	  				<p class="my-1">Voice experiences are appearing everywhere. Smart speakers in the home, in your car, on your phone or at a kiosk in the store gives consumers the opportunity to interact in a personalized way with brands and products.</p>
	  				<p class="my-1">In this PDF we will address:</p>
	  				<div class="pl-2">
		  				<p class="uppercase font-bold color-purple-medium">Virtual Assistants</p>
		  				<p class="type-sm">Voice devices in the home account for the majority of experiences ranging from Smart Home to Kitchen Assistance.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">ZERO UI</p>
		  				<p class="type-sm">Assistants are built on speech recognition, so instead of swiping and typing, you can stay heads-up and hands-free while you multitask around the house. </p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">BRAND VOICE</p>
		  				<p class="type-sm">Using various tips and tricks brands can overcome the robotic feeling of a voice assistant and discover their own voice.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">DEVELOPMENT</p>
		  				<p class="type-sm">With a variety of native and platform solutions for voice and chat, VMLY&R can accommodate many sets of requirements and cross channel asks.</p>
	  				</div>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}

				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">GAMING</h5> 
					<p class="uppercase type-sm color-onyx-60">A new way to message</p>
				</div>
				{% endblock %}

				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						<img src="assets/images/practice/img_xd_pdf.jpg" style="box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.2);">
						<p class="mt-1">
							<a href="#" target="_blank">Download PDF</a>
						</p>
	  				</div>
	  				<div class="col-12 md:col-10">
	  				<h5 class="color-purple-medium">A GROWING AUDIENCE</h5>
	  				<p class="my-1">The world of gaming and esports  has grown significantly in recent years. Brands and their ability to contribute and highlight the space often find themselves with a loyal demographic and endless options to drive revenue. </p>
	  				<p class="my-1">In this PDF we will address:</p>
	  				<div class="pl-2">
		  				<p class="uppercase font-bold color-purple-medium">ESPORTS</p>
		  				<p class="type-sm">Explore the growing world of competitive gaming. From league sponsorship to product placement on an athlete’s instagram, the sky is the limit.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">MOBILE GAMING</p>
		  				<p class="type-sm">Gaming on the go is more popular than ever. Look at ways to take advantage of the space.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">VR</p>
		  				<p class="type-sm">Virtual reality is still home to the most immersive experiences in gaming. </p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">STREAMING</p>
		  				<p class="type-sm">In addition to building and supporting gaming, a growing number of brands are reaching consumers by playing games. Broadcasting on platforms like Twitch and Youtube.</p>
	  				</div>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}

				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">IOT</h5> 
					<p class="uppercase type-sm color-onyx-60">The Internet of Things</p>
				</div>
				{% endblock %}

				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						<img src="assets/images/practice/img_development_pdf.jpg" style="box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.2);">
						<p class="mt-1">
							<a href="#" target="_blank">Download PDF</a>
						</p>
	  				</div>
	  				<div class="col-12 md:col-10">
	  				<h5 class="color-purple-medium">POWERING THE WORLD</h5>
	  				<p class="my-1">Brands can benefit from the growing world of automation and smart devices in many ways. The internet of things (IOT) can power workflows that lead consumers on a journey that satisfies their needs in the moment. </p>
	  				<p class="my-1">In this PDF we will address:</p>
	  				<div class="pl-2">
		  				<p class="uppercase font-bold color-purple-medium">SMART HOMES</p>
		  				<p class="type-sm">Gather, measure and automate electronic device data to learn and enhance daily life.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">PUBLIC SPACES</p>
		  				<p class="type-sm">Build when it makes sense and integrate often to allow for growth and fresh data.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">BEACONS</p>
		  				<p class="type-sm">Precision development requires a strong plan. Architecting that factors all the idiosyncrasies of a project plan. </p>
		  				
	  				</div>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}

				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">WEARABLES</h5> 
					<p class="uppercase type-sm color-onyx-60">Sensors and Tracking</p>
				</div>
				{% endblock %}

				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						<img src="assets/images/practice/img_testing_pdf.jpg" style="box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.2);">
						<p class="mt-1">
							<a href="#" target="_blank">Download PDF</a>
						</p>
	  				</div>
	  				<div class="col-12 md:col-10">
	  				<h5 class="color-purple-medium">CONSTANT BIOMETRIC FEEDBACK</h5>
	  				<p class="my-1">Wearables have expended past the wrist and represent a growing market in the health and beauty space. But biometrics has the ability to move beyond simply tracking and compiling. We can crunch the data to deliver amazing experiences </p>
	  				<p class="my-1">In this PDF we will address:</p>
	  				<div class="pl-2">
		  				<p class="uppercase font-bold color-purple-medium">WRIST WEARABLES</p>
		  				<p class="type-sm">Watches are the main consumer wearables and allow for application development.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">HEARABLES</p>
		  				<p class="type-sm">New advances in headphones allow us to track heart rate and other data as well as share content like SMS and Voice Assistants in ear.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">PHARMA NEEDS</p>
		  				<p class="type-sm">Heart rate and other health data can be captured and shared from a series of wearables devices on the market.</p>
	  				</div>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}
			</div>
		</dl>
	</div>

	<!-- WORK -->
	<div id="appWork" class="row mx-0 px-2 py-3 bg-blue">
	  <div class="col-12">
	  	<h3 class="type-headlineSection mb-2 color-white">Case Studies</h3>
	  </div>
	  <div class="container py-2 carousel__hero px-0">
      {% embed "_components/carousel.html" with {
        "tnsOptions": {
          autoHeight: true,
          autoplay: true,
          autoplayTimeout: 5000,
          nav: true,
          responsive: {
            '1024': {
              edgePadding: 200,
              rewind: false
            }
          }
        },
        "counter": {
          "hide": true,
          "backdrop": false,
          "inverted": false
        },
        "controls": {
          "fixed": false
        },
        "iconLeft": {
          "name": "return-left",
          "color": "color-gray",
          "size": "xl"
        },
        "iconRight": {
          "name": "return-right",
          "color": "color-gray",
          "size": "xl"
        }
      } %}
        {% block carousel %}
          <div class="carousel__slide intro">
            <a href="https://vimeo.com/385296937" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_fp.png" alt=""></a>
            <div class="carousel__slideBox">
                <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://vimeo.com/385296937" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
	                </div>
	                <div class="col-6">
	                	<a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-FordPass.pdf?alt=media&token=ed7627ff-6d0f-4e95-9336-ef85cc156292" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://www.youtube.com/watch?v=s7ZeRL14kus&feature=emb_logo" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_ur.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://www.youtube.com/watch?v=s7ZeRL14kus&feature=emb_logo" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
	                </div>
	                <div class="col-6">
	                	<a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-UR.pdf?alt=media&token=5c08985d-9ce9-45ba-ac35-bf16a0fcdef7" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-Banfield.pdf?alt=media&token=87bea5d5-6341-46f3-97d0-f9ca290ceb67" target="_blank"><img src="assets/images/casestudies/img/img_cs_bf.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-Banfield.pdf?alt=media&token=87bea5d5-6341-46f3-97d0-f9ca290ceb67" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://www.youtube.com/watch?v=9JEbBqXvXw0" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_bs.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://www.youtube.com/watch?v=9JEbBqXvXw0" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
	                </div>
	                <div class="col-6">
	                	<a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-Bridgestone.pdf?alt=media&token=bf3aac02-8fc8-4380-b807-2dec573087a2" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://youtu.be/5RDsa3KbNAk" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_lh.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://youtu.be/5RDsa3KbNAk" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
	                </div>
	                <div class="col-6">
	                	<a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-LivingHistory.pdf?alt=media&token=a549c367-2ba4-4e59-9a45-90281bc10190" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-NBC.pdf?alt=media&token=9eabaaac-7371-4c5f-a8a9-cc06a7d8973d" target="_blank"><img src="assets/images/casestudies/img/img_cs_nbc.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-NBC.pdf?alt=media&token=9eabaaac-7371-4c5f-a8a9-cc06a7d8973d" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://vimeo.com/282366020" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_qt.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://vimeo.com/282366020" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
	                </div>
	                <div class="col-6">
	                	<a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-QT.pdf?alt=media&token=5aa75bc0-1851-437d-aca5-8c856e19eb0f" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://vimeo.com/375767133" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_tenn.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://vimeo.com/375767133" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
	                </div>
	                <div class="col-6">
	                	<a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-Tenn.pdf?alt=media&token=4c072468-46f2-40f8-97d4-2124b3aedbac" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://www.youtube.com/watch?time_continue=57&v=YgnTsf_z0G0&feature=emb_logo" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_rc.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://www.youtube.com/watch?time_continue=57&v=YgnTsf_z0G0&feature=emb_logo" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
	                </div>
	                <div class="col-6">
	                	<a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-RipCurl.pdf?alt=media&token=21ecd89a-d529-4d5d-8a36-2486e1c4b93a" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/videos%2FAAFP_Animatic_Edit_04.mp4?alt=media&token=0aab8597-eeed-4b59-966a-562f92d8b058" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_aafp.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/videos%2FAAFP_Animatic_Edit_04.mp4?alt=media&token=0aab8597-eeed-4b59-966a-562f92d8b058" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
	                </div>
	                <div class="col-6">
	                	<a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/caseStudies%2FMobility-AAFP.pdf?alt=media&token=3c8ede3d-f7e1-4091-814e-f5c0678e5042" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
        {% endblock %}
      {% endembed %}
    </div>
	</div>


	<div id="appContacts" class="container mx-0 px-2 py-3 bg-blue">
		<h3 class="type-headlineSection mb-2 color-white">Team Contacts</h3>
		<div class="row">
			<div class="col-auto">
				{% include "_components/team.html" with {
			      "name": "Brian Yamada",
			      "title": "Chief Innovation Officer",
			      "bio": "",
			      "picture": {
			        "altText": "Yamada",
			        "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/large/public/user-photo/brian_yamada_2.jpg?itok=eOi_Lm2n",
			        "placeholderSize": "500 330"
			      }
			    } %}
			</div>
			<div class="col-auto">
				{% include "_components/team.html" with {
			      "name": "Eric Pfeifer",
			      "title": "Strategy",
			      "bio": "",
			      "picture": {
			        "altText": "Pfeifer",
			        "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/large/public/user-photo/ericpfeifer.jpg?itok=eQu0m3kF",
			        "placeholderSize": "500 330"
			      }
			    } %}
			</div>
			<div class="col-auto">
				{% include "_components/team.html" with {
			      "name": "Jeff Danley",
			      "title": "Gaming & Cryptocurrency",
			      "bio": "",
			      "picture": {
			        "altText": "Danley",
			        "srcPath": "assets/images/profiles/img_profile_danley.png",
			        "placeholderSize": "500 330"
			      }
			    } %}
			</div>
			<div class="col-auto">
				{% include "_components/team.html" with {
			      "name": "Ian Cahill",
			      "title": "Voice & Prototyping",
			      "bio": "",
			      "picture": {
			        "altText": "Cahill",
			        "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/large/public/user-photo/os0c3056.jpg?itok=N066u-SI",
			        "placeholderSize": "500 330"
			      }
			    } %}
			</div>
		</div>
	</div>

    
  </article>
{% endblock %}
