{#
  Twig Templating!
  Homepage: https://twig.symfony.com/
  Docs: https://twig.symfony.com/doc
#}

{% extends '_layouts/page.html' %}
{% set noHeader = false %}
{% set menuOnly = false %}
{% set menuInlineText = false %}
{% set noMenu = false %}
{% set noLogo = false %}
{% set recognition = true %}
{% set headerMenu = global.menu.mobility %}
{% set headerLogo = 'logo.png' %}
{% set title = "VMLY&R | Mobile Apps &amp; Emerging Technology" %}

{% block content %}
  <article class="landing-home" id="top">
  	{% include "_components/intro.html" with {
  	"title": "Mobile Apps </br> &amp; Emerging Technology",
  	"titleAbove": "Explore",
  	"titleBelow": "@ VMLY&amp;R",
  	"bgFileName": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/hero/x-bold.jpg",
  	"classes": "vg-4 color-white",
  	"buttons": []
  } %}
  	<div id="globalCapabilties" class="row row--gutter-wide-lg mx-0 px-1 py-3">
	  <div class="col-12 md:col-7 pb-2">
	  	<h3 class="type-headlineSection mb-2">Global Capabilties</h3>
	  	<p class="font-bold mb-2">VMLY&R maintains centers of excellence across the global specializing in practices around technology, design, strategy and prototyping labs. With the ability to extend our thought leadership and execution from the known to the future beyond, every client can take advantage of our expertise.</p>
		<p>No matter what office you seek guidance from, we are unified under a common process and a desire to deliver leading edge concepts that will push brands above the competition. We are always learning and striving to be one step ahead of current trends, while deploying solutions befitting consumer needs.</p>
	  </div>
	  <div class="col-12 md:col-4 md:col-offset-1">
	  	<p class="uppercase mb-1 font-bold">We deliver best in class products and solutions.</p>
	  	<ul class="pl-2 type-s color-onyx">
	  		<li>Future-casting through international research and exploration</li>
	  		<li>Building habitual native apps with true utility</li>
	  		<li>Guiding product launch and life-cycle</li>
	  		<li>Connecting with huge brands to reshape innovation and emerging tech</li>
	  	</ul>
	  </div>
	</div>

  	<div class="row pt-2 mx-0 px-1">
	  <div class="col-12 md:col-3">
	  	{% include "_components/silo.html" with {
		  "title": "Mobile Apps",
		  "text": "A completely in-house mobile app strategy, design and development team with experience bringing some of the most popular apps to the market, including retail, social, media, automotive, shopping and gaming. ",
		  "url": "mobileapps.html",
		  "image": "assets/images/silos/ic_silo_mobileapps.svg",
		  "linkText": "Learn More",
		  "icons": {
		    "name": "chevron-right",
		    "color": "white",
		    "size": "xs"
		  }
		} %}
	  </div>
	  <div class="col-12 md:col-3">
	  	{% include "_components/silo.html" with {
		  "title": "Emerging Technology",
		  "text": "In order to stay ahead of the ever changing world of technology, VMLY&R leverages our expertise in insights and creativity within our Lab environment to acquaint ourselves with the coming trends and start-ups.",
		  "url": "emergingtech.html",
		  "image": "assets/images/silos/ic_silo_et.svg",
		  "linkText": "Learn More",
		  "icons": {
		    "name": "chevron-right",
		    "color": "white",
		    "size": "xs"
		  }
		} %}
	  </div>
	  <div class="col-12 md:col-3">
	  	{% include "_components/silo.html" with {
		  "title": "Document Library",
		  "text": "Explore content ranging from Thought Leadership pieces, Emerging Tech Point of View and Process definition. This ever-growing section will be a great resource for all.",
		  "url": "articles.html",
		  "image": "assets/images/silos/ic_silo_news.svg",
		  "linkText": "Learn More",
		  "icons": {
		    "name": "chevron-right",
		    "color": "white",
		    "size": "xs"
		  }
		} %}
	  </div>
	  <div class="col-12 md:col-3">
	  	{% include "_components/silo.html" with {
		  "title": "Lost Concept Collection",
		  "text": "A part of VMLY&R’s growing effort to enrich the client base and bring tangible examples of innovation to the forefront, the Mobile Apps &amp; Emerging Tech group will offer a second chance to ideas and concepts.",
		  "url": "toys.html",
		  "image": "assets/images/silos/ic_silo_ideas.svg",
		  "linkText": "Learn More",
		  "icons": {
		    "name": "chevron-right",
		    "color": "white",
		    "size": "xs"
		  }
		} %}
	  </div>
	</div>
	<!-- Intro -->
	<span id="locations"></span>
	<!-- MAP -->
	{% include "_components/map.html" with {
	  "mapSrc": [
	    {
	      "location": "Kansas City, USA",
	      "id": "kcmo",
	      "lat": "39.0937734",
	      "lng": "-94.5794099",
	      "icon": "vmlyr"
	    },
	    {
	      "location": "Kraków, Poland",
	      "id": "krakow",
	      "lat": "50.0647",
	      "lng": "19.9450",
	      "icon": "vmlyr"
	    },
	    {
	      "location": "Sydney, Australia",
	      "id": "sydney",
	      "lat": "-33.8370",
	      "lng": "151.2080",
	      "icon": "vmlyr"
	    },
	    {
	      "location": "Mexico City, Mexico",
	      "id": "mexicocity",
	      "lat": "19.4326",
	      "lng": "-99.1332",
	      "icon": "vmlyr"
	    },
	    {
	      "location": "London, England",
	      "id": "london",
	      "lat": "51.5074",
	      "lng": "0.1278",
	      "icon": "vmlyr"
	    },
	    {
	      "location": "Detroit, USA",
	      "id": "detroit",
	      "lat": "42.3314",
	      "lng": "-83.0458",
	      "icon": "vmlyr"
	    },
	    {
	      "location": "Singapore",
	      "id": "singapore",
	      "lat": "1.311805",
	      "lng": "103.837099",
	      "icon": "vmlyr"
	    }
	    ,
	    {
	      "location": "Peru",
	      "id": "peru",
	      "lat": "-12.114330",
	      "lng": "-77.040080",
	      "icon": "vmlyr"
	    },
	    {
	      "location": "Spain",
	      "id": "spain",
	      "lat": "41.385063",
	      "lng": "2.173404",
	      "icon": "vmlyr"
	    }

	  ]
	} %}
	<!--KC-->
	{% include "_components/modal.html" with {
	  "id": "kcmo",
	  "imgFileName": "https://images.unsplash.com/photo-1572764861775-3fc7fe6a76f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=80",
	  "locName": "VMLY&amp;R Kansas City",
	  "details": [
    {
      "title": "Innovation",
      "text" : "Brian Yamada",
      "icon": "email",
      "url": "mailto:brian.yamada@vmlyr.com"
    },
    {
      "title": "Mobile Apps",
      "text" : "Eric Pfiefer",
      "icon": "email",
      "url": "mailto:eric.pfiefer@vmlyr.com"
    },
    {
      "title": "Voice",
      "text" : "Ian Cahill",
      "icon": "email",
      "url": "mailto:ian.cahill@vmlyr.com"
    },
    {
      "title": "Gaming",
      "text" : "Jeff Danley",
      "icon": "email",
      "url": "mailto:jeff.danley@vmlyr.com"
    }
  ]
	} %}
	<!--Krakow-->
	{% include "_components/modal.html" with {
	  "id": "krakow",
	  "imgFileName": "https://images.unsplash.com/photo-1495181941197-70a606546974?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60",
	  "locName": "VMLY&amp;R Kraków",
	  "details": [
		{
		"title": "Business Technology",
		"text" : "Jakub Czaplicki",
		"icon": "email",
		"url": "mailto:jakub.czaplicki@vmlyr.com"
		},
		{
		"title": "Mobile Apps",
		"text" : "Mateusz Zajac",
		"icon": "email",
		"url": "mailto:mateusz.zajac@vmlyr.com"
		}
	  ]
	} %}
	<!--Sydney-->
	{% include "_components/modal.html" with {
	  "id": "sydney",
	  "imgFileName": "https://images.unsplash.com/photo-1506973035872-a4ec16b8e8d9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=80",
	  "locName": "VMLY&amp;R Sydney",
	  "details": [
		{
		"title": "Experience Design",
		"text" : "Glenn Veugen",
		"icon": "email",
		"url": "mailto:Glenn.Veugen@vmlyr.com"
		},
		{
		"title": "Technical Director",
		"text" : "Jacky Lau",
		"icon": "email",
		"url": "mailto:Jacky.Lau@vmlyr.com"
		}
	  ]
	} %}
	<!--Mexico City-->
	{% include "_components/modal.html" with {
	  "id": "mexicocity",
	  "imgFileName": "https://images.unsplash.com/photo-1524158637050-36b68ca9a5ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60",
	  "locName": "VMLY&amp;R Mexico City",
	  "details": [
	  {
		"title": "President",
		"text" : "Andres Sanchez",
		"icon": "email",
		"url": "mailto:Andres.Sanchez@vmlyr.com"
		}
	  ]
	} %}
	<!--London-->
	{% include "_components/modal.html" with {
	  "id": "london",
	  "imgFileName": "https://images.unsplash.com/photo-1505761671935-60b3a7427bad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60",
	  "locName": "VMLY&amp;R London",
	  "details": [
	  {
		"title": "Emerging Technology",
		"text" : "Gracie Page",
		"icon": "email",
		"url": "mailto:gracie.page@vmlyr.com"
		}
	  ]
	} %}
	<!--Detroit-->
	{% include "_components/modal.html" with {
	  "id": "detroit",
	  "imgFileName": "https://images.unsplash.com/photo-1472262808738-234c7a128280?ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60",
	  "locName": "VMLY&amp;R Detroit",
	  "details": [
	  {
		"title": "Innovation & Data",
		"text" : "Wojtek Szumowski",
		"icon": "email",
		"url": "mailto:Wojtek.Szumowski@vmlyr.com"
		},
		{
		"title": "Innovation & Data",
		"text" : "Shabnam Hosseini",
		"icon": "email",
		"url": "mailto:Shabnam.Hosseini@vmlyr.com"
		}
	  ]
	} %}
	<!--Singapore-->
	{% include "_components/modal.html" with {
	  "id": "singapore",
	  "imgFileName": "https://images.unsplash.com/photo-1565967511849-76a60a516170?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60",
	  "locName": "VMLY&amp;R Singapore",
	  "details": [
	  {
		"title": "Chief Innovation Officer",
		"text" : "Keith Timimi",
		"icon": "email",
		"url": "mailto:keith.timimi@vmlyr.com"
		}
	  ]
	} %}
	<!--Spain-->
	{% include "_components/modal.html" with {
	  "id": "spain",
	  "imgFileName": "https://images.unsplash.com/photo-1564221710304-0b37c8b9d729?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60",
	  "locName": "VMLY&amp;R Spain (Barcelona)",
	  "details": [
	  {
		"title": "Innovation & Technology",
		"text" : "Ignacio Dejuan Creix",
		"icon": "email",
		"url": "mailto:Ignacio.dejuan.creix@vmlyr.com"
		},
		{
		"title": "Creative",
		"text" : "Muntsa Dachs",
		"icon": "email",
		"url": "mailto:muntsa.dachs@vmlyr.com"
		}
	  ]
	} %}
	<!--Peru-->
	{% include "_components/modal.html" with {
	  "id": "peru",
	  "imgFileName": "https://images.unsplash.com/photo-1533655481656-8f79f05f04e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60",
	  "locName": "VMLY&amp;R Peru",
	  "details": [
	  {
		"title": "Creative",
		"text" : "Ernesto Jara",
		"icon": "email",
		"url": "mailto:Ernesto.Jara@vmlyr.com"
		}
	  ]
	} %}



    
  </article>
{% endblock %}
