{#
  Twig Templating!
  Homepage: https://twig.symfony.com/
  Docs: https://twig.symfony.com/doc
#}

{% extends '_layouts/page.html' %}
{% set noHeader = false %}
{% set menuOnly = false %}
{% set menuInlineText = false %}
{% set noMenu = false %}
{% set noLogo = false %}
{% set recognition = true %}
{% set headerMenu = global.menu.mobility %}
{% set headerLogo = 'logo.png' %}
{% set title = "VMLY&R | Mobile Apps &amp; Emerging Technology" %}
{% set enableLibraryMasonry = true %}

{% block content %}
  <article id="intro" class="landing-home" id="top">
  	{% include "_components/intro.html" with {
  	"title": "Natural Language Experience",
  	"titleAbove": "",
  	"titleBelow": "@ VMLY&amp;R",
  	"bgFileName": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/hero/constellation.jpg",
  	"classes": "vg-4 color-white",
  	"buttons": [
  	{
      "title": "Download PDF",
      "url": "https://vmlyr.docsend.com/view/e4e283zpnzishh42",
      "icon": "dl",
      "size": "xs",
      "newWindow": true,
      "class": "button--white",
      "heading": ""
    },
    {
      "title": "Download Keynote",
      "url": "https://vmlyr.docsend.com/view/6uqzckr3vmjdmia7",
      "icon": "dl",
      "size": "xs",
      "newWindow": true,
      "class": "button--white",
      "heading": ""
    }
    ]
  } %}
	<!-- Intro -->

	<!-- Our Practice -->
	<div id="focused" class="container px-2 py-3 bg-onyx-10">
		<h3 class="type-headlineSection mb-2">Focused NLX</h3>
		<dl class="faq__list">
			<div class="faq__row">
				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">Insights</h5> 
					<p class="uppercase type-sm color-onyx-60">Strategy & Insights</p>
				</div>
				{% endblock %}
				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						<img src="assets/images/practice/img_ar_pdf.png" style="box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.2);">
						<p class="mt-1">
							<a href="https://vmlyr.docsend.com/view/zn8jnbbsgitaybee" target="_blank">Download PDF</a>
						</p>
						<p class="mt-2">Documents</p>
						<a href="https://vmlyr.docsend.com/view/wd4888jibeqxpxgb" target="_blank" class="block">Supporting Doc</a>
	  				</div>
	  				<div class="col-12 md:col-10">
	  				<h5 class="color-purple-medium">UNDERSTANDING NEED</h5>
	  				<p class="my-1">VMLY&R's strategic approach to natural language projects is centered around differentiating the output of computer to person communication into a more human experience. In addition, we look for ways to leverage voice and chat experiences in ways not commonly used in today's market.</p>
	  				<p class="my-1">In this PDF we will address:</p>
	  				<div class="pl-2">
		  				<p class="uppercase font-bold color-purple-medium">Discovery</p>
		  				<p class="type-sm">Understanding the needs of the client and the project.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">Idea Cultivation</p>
		  				<p class="type-sm">Grow and expand on opportunities in the space.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">Conversational Workshops</p>
		  				<p class="type-sm">Small group connections to solve complex dialogue transactions.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">Roadmaps and Timelines</p>
		  				<p class="type-sm">Grow and expand on an experience efficiently and concisely.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">Deliverables</p>
		  				<p class="type-sm">Plan and scope for the right features to drive usage.</p>
		  				</div>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}
				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">Content</h5> 
					<p class="uppercase type-sm color-onyx-60">Bit-Sized Content</p>
				</div>
				{% endblock %}
				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						<img src="assets/images/practice/img_voice_pdf.png" style="box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.2);">
						<p class="mt-1">
							<a href="https://vmlyr.docsend.com/view/dhtpt6dmftcg8ecq" target="_blank">Download PDF</a>
						</p>
						<p class="mt-2">Documents</p>
						<a href="https://vmlyr.docsend.com/view/gaj4r5duxirwd3fq" target="_blank" class="block">Home Assistants</a>
						<a href="https://vmlyr.docsend.com/view/giajcgu28mv6p36x" target="_blank" class="block">Conversational AI</a>
	  				</div>
	  				<div class="col-12 md:col-10">
	  				<h5 class="color-purple-medium">BEYOND COPYWRITING</h5>
	  				<p class="my-1">When it comes to voice and bot experiences, brevity is essential to ensure the end-user is retaining the correct information. In a lot of cases, existing web content or client-provided content hasn't be optimized for these types of experiences.</p>
	  				<p class="my-1">In this PDF we will address:</p>
	  				<div class="pl-2">
		  				<p class="uppercase font-bold color-purple-medium">Intent</p>
		  				<p class="type-sm">Using AI to account for user interaction and need state.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">Tone</p>
		  				<p class="type-sm">The way a voice or chat experience comes across to the user and represents a brand is key. </p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">Content</p>
		  				<p class="type-sm">Ensure the content for the experience is appropriately sized and stored.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">Copy and Flow</p>
		  				<p class="type-sm">Create a more human experience through conversation and decision trees.</p>
	  				</div>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}

				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">DESIGN & UX</h5> 
					<p class="uppercase type-sm color-onyx-60">Dynamic and Useful </p>
				</div>
				{% endblock %}

				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						<img src="assets/images/practice/img_gaming_pdf.png" style="box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.2);">
						<p class="mt-1">
							<a href="https://vmlyr.docsend.com/view/8hs8ifdfwca38869" target="_blank">Download PDF</a>
						</p>
	  				</div>
	  				<div class="col-12 md:col-10">
	  				<h5 class="color-purple-medium">CONVERSATIONAL UX</h5>
	  				<p class="my-1">Presenting a natural language experience requires a myraid of considerations for both the user interaction as well as the automation behind the responses. Using our design practice and focused design systems, we can account for all aspects of a user experience in voice, chat and beyond.</p>
	  				<div class="pl-2">
		  				<p class="uppercase font-bold color-purple-medium">VUI/GUI</p>
		  				<p class="type-sm">Drive towards a more cohesive user interface, both visually and within the context of voice interactions. Both should go hand in hand when needed.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">MULTI-MODAL</p>
		  				<p class="type-sm">Design in the context of multiple touch-points requires a consistency that feels familiar, yet adheres to platform guidelines.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">BRAND RECOGNITION</p>
		  				<p class="type-sm">Understanding the brand needs and designing with their tone and style in mind enhances the end-user experience.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">IDENTITY</p>
		  				<p class="type-sm">Whether you are chatting or speaking with a digital creation, how it presents itself matters. We consider gender, tone, formality, among others.</p>
	  				</div>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}

				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">DEVELOPMENT</h5> 
					<p class="uppercase type-sm color-onyx-60">Building the experience</p>
				</div>
				{% endblock %}

				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						<img src="assets/images/practice/img_iot_pdf.png" style="box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.2);">
						<p class="mt-1">
							<a href="https://vmlyr.docsend.com/view/2tjjtqvqq9fw4tkg" target="_blank">Download PDF</a>
						</p>
						<p class="mt-2">POV</p>
						<a href="https://vmlyr.docsend.com/view/xgmf8chmfqbshmg6" target="_blank" class="block">IoT POV</a>
	  				</div>
	  				<div class="col-12 md:col-10">
	  				<h5 class="color-purple-medium">BUILD IT BETTER</h5>
	  				<p class="my-1">Choosing the right platform and tools to build the next Natural Language Experience requires key considerstaions towards size, datasources and compatibility.</p>
	  				<p class="my-1">In this PDF we will address:</p>
	  				<div class="pl-2">
		  				<p class="uppercase font-bold color-purple-medium">PLATFORMS</p>
		  				<p class="type-sm">Evaluate and make determinations on which platform is right for the concept agreed upon based on demographics, feature set and longevity.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">DATA</p>
		  				<p class="type-sm">Build when it makes sense and integrate often to allow for growth and fresh data.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">TOOLS</p>
		  				<p class="type-sm">Leverage the right tools to acheive fast, accurate and consistent products that reach the right userbase.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">TESTING</p>
		  				<p class="type-sm">Precision development requires a strong plan that includes tracking and measuring metrics that can be used to test efficiencies and combat errors.</p>
		  				
	  				</div>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}

				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">LIFECYCLE</h5> 
					<p class="uppercase type-sm color-onyx-60">Reporting and Maintanence</p>
				</div>
				{% endblock %}

				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						<img src="assets/images/practice/img_wearables_pdf.png" style="box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.2);">
						<p class="mt-1">
							<a href="https://vmlyr.docsend.com/view/zac5c9feq8cjnq4d" target="_blank">Download PDF</a>
						</p>
	  				</div>
	  				<div class="col-12 md:col-10">
	  				<h5 class="color-purple-medium">CONSTANT BIOMETRIC FEEDBACK</h5>
	  				<p class="my-1">Wearables have expended past the wrist and represent a growing market in the health and beauty space. But biometrics has the ability to move beyond simply tracking and compiling. We can crunch the data to deliver amazing experiences </p>
	  				<p class="my-1">In this PDF we will address:</p>
	  				<div class="pl-2">
		  				<p class="uppercase font-bold color-purple-medium">WRIST WEARABLES</p>
		  				<p class="type-sm">Watches are the main consumer wearables and allow for application development.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">HEARABLES</p>
		  				<p class="type-sm">New advances in headphones allow us to track heart rate and other data as well as share content like SMS and Voice Assistants in ear.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">PHARMA NEEDS</p>
		  				<p class="type-sm">Heart rate and other health data can be captured and shared from a series of wearables devices on the market.</p>
	  				</div>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}
			</div>
		</dl>
	</div>

	<!-- WORK -->
	<div id="etWork" class="row mx-0 px-2 py-3 bg-blue">
	  <div class="col-12">
	  	<h3 class="type-headlineSection mb-2 color-white">Case Studies</h3>
	  </div>
	  <div class="container py-2 carousel__hero px-0">
      {% embed "_components/carousel.html" with {
        "tnsOptions": {
          autoHeight: true,
          autoplay: true,
          autoplayTimeout: 5000,
          nav: true,
          responsive: {
            '1024': {
              edgePadding: 200,
              rewind: false
            }
          }
        },
        "counter": {
          "hide": true,
          "backdrop": false,
          "inverted": false
        },
        "controls": {
          "fixed": false
        },
        "iconLeft": {
          "name": "return-left",
          "color": "color-gray",
          "size": "xl"
        },
        "iconRight": {
          "name": "return-right",
          "color": "color-gray",
          "size": "xl"
        }
      } %}
        {% block carousel %}
          <div class="carousel__slide intro">
            <a href="https://vmlyr.docsend.com/view/5n94zhscx8ms898h" target="_blank"><img src="assets/images/casestudies/img/img_cs_wwe.png" alt=""></a>
            <div class="carousel__slideBox">
                <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://vmlyr.docsend.com/view/5n94zhscx8ms898h" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://vmlyr.docsend.com/view/xrfn3rg2qut6nxun" target="_blank"><img src="assets/images/casestudies/img/img_cs_burgertime.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://vmlyr.docsend.com/view/xrfn3rg2qut6nxun" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://vmlyr.docsend.com/view/d52izctbahbkfss5" target="_blank"><img src="assets/images/casestudies/img/img_cs_measure.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://vmlyr.docsend.com/view/d52izctbahbkfss5" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://vmlyr.docsend.com/view/jtvnzivimyheewiu" target="_blank"><img src="assets/images/casestudies/img/img_cs_easybutton.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://vmlyr.docsend.com/view/jtvnzivimyheewiu" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://vmlyr.docsend.com/view/fymz4c7rd8uetah2" target="_blank"><img src="assets/images/casestudies/img/img_cs_medtranslate.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://vmlyr.docsend.com/view/fymz4c7rd8uetah2" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://vmlyr.docsend.com/view/put3tdfxqdxwwynk" target="_blank"><img src="assets/images/casestudies/img/img_cs_ fpwrist.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://vmlyr.docsend.com/view/put3tdfxqdxwwynk" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://vimeo.com/375767133" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_tenn.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://vimeo.com/375767133" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
	                </div>
	                <div class="col-6">
	                	<a href="https://vmlyr.docsend.com/view/cgmbheas2v49hsd8" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://www.youtube.com/watch?time_continue=57&v=YgnTsf_z0G0&feature=emb_logo" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_rc.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://www.youtube.com/watch?time_continue=57&v=YgnTsf_z0G0&feature=emb_logo" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
	                </div>
	                <div class="col-6">
	                	<a href="https://vmlyr.docsend.com/view/f5x7qun325akazuw" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
        {% endblock %}
      {% endembed %}
    </div>
	</div>
	<div>
      	   <section class="vg-2 bg-blue color-gray">
            <div class="container-xl">
              <p class="type-lg uppercase mb-2"><strong>HOW WE DISCOVER OUR VOICE EXPERIENCES</strong></p>
              <blockquote class="type-base mb-2"><strong>Mul·ti·mod·al</strong> - The experience of a more natural interoperability between our virtual and physical environments.</blockquote>
              <p class="type-base mb-2">Multimodal goes beyond simply supporting voice-enabled devices. Voice is poised to be that connective tissue between screen and in-device integrations.</p>
            </div>
          </section>
<!--
          <section class="vg-2 bg-gray color-gray" id="karaoke" style="background-image: url('assets/images/karaoke.png');background-repeat: no-repeat; background-size: cover;">
            <div class="container-xl">
              <p class="type-lg uppercase mb-2"><strong>THE KARAOKE EXAMPLE</strong></p>
            </div>
            <span class="karaoke-card audio">
              	<strong class="type-sm">AUDIO INTERACTIONS</strong>
              	<p class="type-sm">The primary input for your performance</p>
              </span>
              <span class="karaoke-card haptic">
              	<strong class="type-sm">HAPTIC INTERACTIONS</strong>
              	<p class="type-sm">The audience reaction to your perfromance</p>
              </span>
              <span class="karaoke-card visual">
              	<strong class="type-sm">VISUAL INTERACTIONS</strong>
              	<p class="type-sm">The screen guides you through the lyrics</p>
              </span>
          </section>
      -->

          <section class="vg-2 bg-white color-blue">
            <div class="container-xl">
              <p class="type-lg uppercase mb-2"><strong>HOW WE DEFINE NEED IN VOICE EXPERIENCES</strong></p>
              <p class="type-base mb-2">Each experience we build has it’s own unique DNA.</p>
              <p class="type-base mb-2">This DNA is a series of measurements that blend together to give us an indication of what modes of communication would serve the user best.</p>
              <p class="type-base mb-3">Comparing an <span class="in-car">in-car experience</span> for Ford to the need to support a <span class="google-home">Google Home</span> action demonstrates a lot of similarities in Output and Input needs but additional support in user conditions.</p>
              <img src="assets/images/dnaCard.png" />
            </div>
      	  </section>

      	  <section class="vg-2 bg-gray color-blue">
            <div class="container-xl">
              <p class="type-lg uppercase mb-2"><strong>VOICE TRENDS</strong></p>
              <div class="row row--gutter-wide items-center justify-center">
		        <p class="col-5 md:col-2"><strong>Personalization</strong></p>
		        <p class="col-5 md:col-2"><strong>Enterprise Voice</strong></p>
		        <p class="col-5 md:col-2"><strong>In-Car</strong></p>
		        <p class="col-5 md:col-2"><strong>Real-Time</strong></p>
		        <p class="col-5 md:col-2"><strong>Gaming</strong></p>
		      </div>
              <div class="row row--gutter-wide items-center justify-center">
		        <div class="col-5 md:col-2"><img src="assets/images/trend-personal.png" alt="" class="block"></div>
		        <div class="col-5 md:col-2"><img src="assets/images/trend-enter.png" alt="" class="block"></div>
		        <div class="col-5 md:col-2"><img src="assets/images/trend-car.png" alt="" class="block"></div>
		        <div class="col-5 md:col-2"><img src="assets/images/trend-realtime.png" alt="" class="block"></div>
		        <div class="col-5 md:col-2"><img src="assets/images/trend-game.png" alt="" class="block"></div>
		      </div>
		      <div class="row row--gutter-wide items-center justify-center">
		        <p class="col-5 md:col-2">The prevalence of voice creates need to distinguish one voice from another, especially within public spaces. Customizing experiences by voice type or language is growing.</p>
		        <p class="col-5 md:col-2">More and more voice experiences are being leveraged in the workspace to create efficiency. Look for voice to power lobbies and self-service areas of business as well as private workstations.</p>
		        <p class="col-5 md:col-2">As more Car Manufacturers implement voice platforms into their dashboards, voice actions from the car becomes second nature. 5G will drive more usage as car become increasingly connected.</p>
		        <p class="col-5 md:col-2">Data Access will soon be instantaneous, creating opportunities to voice to live in more secure areas or those that require multi-lingual support without causing gaps or frustration.</p>
		        <p class="col-5 md:col-2">Lowering the learning curve and creating a new and effect element of game play, voice recognition in game is a new and exciting extension to AR, VR and other hands-free platforms.</p>
		      </div>
            </div>
      	  </section>

      	  <section class="vg-2 bg-white color-blue">
            <div class="container-xl">
              <p class="type-lg uppercase mb-2"><strong>QUESTIONS TO ASK YOUR CLIENT</strong></p>
              <article>
              	<p class="type-base font-black">Why voice, why now?</p>
              	<p class="type-sm mb-2">Voice solutions have been around for almost five years. Most and more verticals are finding optimal use cases for voice. Does your client fit within an appropriate area of use (mobile, car, home)?</p>
              	<hr>
              </article>
              <article>
              	<p class="type-base font-black">What do you expect to use a voice experience for?</p>
              	<p class="type-sm mb-2">Clients need to understand the longevity of a voice experience. Campaign level experiences don’t suit voice unless it lives on a website outside of a virtual assistant.</p>
              	<hr>
              </article>
              <article>
              	<p class="type-base font-black">Does your content live today and is it being used for something else like a website?</p>
              	<p class="type-sm mb-2">Content for voice needs to adhere to standards of brevity to allow users to follow along. This usually requires existing content to be modified specifically for voice or chat.</p>
              	<hr>
              </article>
              <article>
              	<p class="type-base font-black">How personalized do you want the experience?</p>
              	<p class="type-sm mb-2">Voice experiences allow for a certain level of personalization that may require the use of AI  and leverage authentication. Both of which add to time and cost requirements.</p>
              	<hr>
              </article>
            </div>
      	  </section>

      	  <section class="vg-2 bg-gray color-blue">
            <div class="container-xl">
              <p class="type-lg uppercase mb-2"><strong>HOW WE BUILD</strong></p>
              <article>
              	<p class="type-sm mb-3">Building a voice experience requires input from many different teams.</p>
              </article>
              <article>
              	<p class="type-base font-black">CONTENT TEAM</p>
              	<p class="type-sm mb-2">Content needs to be formatted into bit-sized elements appropriate for voice interactions. APIs and Server side data needs to be managed and sent to the experience as well.</p>
              	<hr>
              </article>
              <article>
              	<p class="type-base font-black">DESIGN/COPY TEAM</p>
              	<p class="type-sm mb-2">Most virtual assistants focus on headless-design, making copy writing the foremost need to a voice experience. However, along with copy, some devices leverage screens and cards that need to be formatted appropriately.</p>
              	<hr>
              </article>
              <article>
              	<p class="type-base font-black">DEVELOPMENT</p>
              	<p class="type-sm mb-2">The decision to develop natively versus on a voice platform like VoiceFlow depends on the client’s needs and deployment desires. Regardless, we can handle any project in house across multiple platforms (Amazon, Google, Facebook, etc.)</p>
              	<hr>
              </article>
              <article>
              	<p class="type-base font-black">PUBLISHING</p>
              	<p class="type-sm mb-2">With the ability to publish onto multiple platforms at once, we also make sure we can manage changes in one place and track the appropriate data points as well.</p>
              	<hr>
              </article>
              <article>
              	<p class="type-base font-black">MAINTENANCE</p>
              	<p class="type-sm mb-2">Keeping a watchful eye on usage and adjusting pain points as needed. Adding content and new features through the same process as it was initially designed.</p>
              	<hr>
              </article>
            </div>
      	  </section>
      	  <section class="vg-2 bg-white color-blue">
            <div class="container-xl">
              <p class="type-lg uppercase mb-2"><strong>PLATFORMS WE SUPPORT</strong></p>
              <div class="row row--gutter-wide items-center justify-center">
		        <div class="col-6 md:col-2"><img src="assets/images/platform-alexa.png" alt="" class="block"></div>
		        <div class="col-6 md:col-2"><img src="assets/images/platform-google.png" alt="" class="block"></div>
		        <div class="col-6 md:col-2"><img src="assets/images/platform-siri.png" alt="" class="block"></div>
		        <div class="col-6 md:col-2"><img src="assets/images/platform-messenger.png" alt="" class="block"></div>
		        <div class="col-6 md:col-2"><img src="assets/images/platform-business.png" alt="" class="block"></div>
		        <div class="col-6 md:col-2"><img src="assets/images/platform-mycroft.png" alt="" class="block"></div>
		      </div>
            </div>
      	  </section>
    </div>  	  
	<!-- Thought Leadership-->
	<div id="et-articles" class="container px-2 py-3 bg-onyx-10">
		<h3 class="type-headlineSection mb-2">Thought Leadership</h3>
		{% set masonryFilters = [
		  {
		    "value": ".filter--categoryVR",
		    "label": "VR"
		  },
		  {
		    "value": ".filter--categoryVoice",
		    "label": "Voice"
		  },
		  {
		    "value": ".filter--categoryCrypto",
		    "label": "Cryptocurrency"
		  },
		  {
		    "value": ".filter--categoryGame",
		    "label": "Gaming"
		  }
		] %}
		{% embed "_components/masonry/content.html" with { "shuffle": false, "filters": masonryFilters } %}
		  {% block list %}
		    <div class="masonry__item filter--categoryGame">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "Extra Life 24-Hr",
				    "sub": "Gaming Marathon"
				  },
				  "hotspot": {
				    "url": "https://passport.vmlyr.com/post/vmlyr-gtb-participate-extra-life-24-hr-gaming-marathon",
				    "icon": 'link',
				    "newWindow": true,
				  },
				  "picture": {
				    "altText": "article",
				    "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/simplecrop/public/extra-life-banner-e1405726479104_0.png?itok=zPzz459C&sc=9feb65c099d96128227bb9e65cc2a01f",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		    </div>
		    <div class="masonry__item filter--categoryET">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "Welcome to 5G",
				    "sub": "Why is 5G a big deal?"
				  },
				  "hotspot": {
				    "url": "https://passport.vmlyr.com/post/welcome-5g",
				    "icon": 'link',
				    "newWindow": true,
				  },
				  "picture": {
				    "altText": "article",
				    "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/simplecrop/public/5g_0.jpg?itok=KyQpmdCL&sc=1a6bf4d26eb5c13f9b02245196904cc8",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		    </div>
		    <div class="masonry__item filter--categoryVR filter--categoryET">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "New Experience Opportunities",
				    "sub": "in VR"
				  },
				  "hotspot": {
				    "url": "https://passport.vmlyr.com/post/new-experience-opportunities-vr",
				    "icon": 'link',
				    "newWindow": true,
				  },
				  "picture": {
				    "altText": "article",
				    "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/simplecrop/public/facebook_horizon_vr.jpg?itok=WsLXoeVw&sc=a2ef9402ab7e4f5a8e1bc540b1bbb087",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		    </div>
		    <div class="masonry__item filter--categoryET">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "Birth of a Patent",
				    "sub": ""
				  },
				  "hotspot": {
				    "url": "https://passport.vmlyr.com/post/birth-patent",
				    "icon": 'link',
				    "newWindow": true,
				  },
				  "picture": {
				    "altText": "article",
				    "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/simplecrop/public/us07376091-20080520-d00001.png?itok=roYrAG5w&sc=22aefe0691c9005b009afad1dd0d2807",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		    </div>
		    <div class="masonry__item filter--categoryVoice">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "Give Voice a Chance",
				    "sub": ""
				  },
				  "hotspot": {
				    "url": "https://passport.vmlyr.com/post/give-voice-chance",
				    "icon": 'link',
				    "newWindow": true,
				  },
				  "picture": {
				    "altText": "article",
				    "srcPath": "https://images.unsplash.com/photo-1512446816042-444d641267d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		    </div>
		    <div class="masonry__item filter--categoryGame">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "Gaming & eSports Update",
				    "sub": "@ VMLY&R"
				  },
				  "hotspot": {
				    "url": "https://passport.vmlyr.com/post/vmlyr-gaming-esports-update",
				    "icon": 'link',
				    "newWindow": true,
				  },
				  "picture": {
				    "altText": "article",
				    "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/simplecrop/public/gamingsplash_0.jpeg?itok=drDP5K85&sc=4c758c6a0963cd2eedd9d631f4aa441b",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		    </div>
		  {% endblock %}
		{% endembed %}
	</div>

	<!-- <div id="startups" class="container px-2 py-3 bg-white">
		<h3 class="type-headlineSection mb-2">Startup One-Sheeters</h3>
		<ul class="logoWall logoWall--wide">
			<li class="logoWall__col">
			    {% include "_components/spotlight.html" with {
				  "title": {},
				  "hotspot": {
				    "url": "https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/startups%2Fstartup_subversive.pdf?alt=media&token=f528956e-5bfb-49c2-95c7-754590452785",
				    "icon": 'doc-pdf',
				    "isVideo": true,
				  },
				  "picture": {
				    "altText": "Subvsive",
				    "srcPath": "assets/images/startups/startup_subvrsive.png",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
			</li>
			<li class="logoWall__col">
				{% include "_components/spotlight.html" with {
				  "title": {},
				  "hotspot": {
				    "url": "https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/startups%2Fstartup_nextnav.pdf?alt=media&token=2654c49f-0765-4dfd-ba3f-e6067b31274e",
				    "icon": 'doc-pdf',
				    "isVideo": true,
				  },
				  "picture": {
				    "altText": "NextNav",
				    "srcPath": "assets/images/startups/startup_nextnav.png",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		  	</li>
		  	<li class="logoWall__col">
				{% include "_components/spotlight.html" with {
				  "title": {},
				  "hotspot": {
				    "url": "https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/startups%2Fstartup_radaro.pdf?alt=media&token=8847787c-2843-4fca-a64e-43c3fa2e4033",
				    "icon": 'doc-pdf',
				    "isVideo": true,
				  },
				  "picture": {
				    "altText": "Radaro",
				    "srcPath": "assets/images/startups/startup_radaro.png",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		  	</li>
		  	<li class="logoWall__col">
				{% include "_components/spotlight.html" with {
				  "title": {},
				  "hotspot": {
				    "url": "https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/startups%2Fstartup_soulmachines.pdf?alt=media&token=862b8d88-e040-4769-bb56-b9d518c58cac",
				    "icon": 'doc-pdf',
				    "isVideo": true,
				  },
				  "picture": {
				    "altText": "Soul Machines",
				    "srcPath": "assets/images/startups/startup_soulmachines.png",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		  	</li>
		  	<li class="logoWall__col">
				{% include "_components/spotlight.html" with {
				  "title": {},
				  "hotspot": {
				    "url": "https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/startups%2Fstartup_unsupervised.pdf?alt=media&token=5c1e11c2-7807-4ab5-9ea1-1619f33899e8",
				    "icon": 'doc-pdf',
				    "isVideo": true,
				  },
				  "picture": {
				    "altText": "Unsupervised",
				    "srcPath": "assets/images/startups/startup_unsupervised.png",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		  	</li>
		  	<li class="logoWall__col">
				{% include "_components/spotlight.html" with {
				  "title": {},
				  "hotspot": {
				    "url": "https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/startups%2Fstartup_vntana.pdf?alt=media&token=a12b5205-35b8-4a0e-b75c-50b208605d0f",
				    "icon": 'doc-pdf',
				    "isVideo": true,
				  },
				  "picture": {
				    "altText": "Vntana",
				    "srcPath": "assets/images/startups/startup_vntana.png",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		  	</li>
		  	<li class="logoWall__col">
				{% include "_components/spotlight.html" with {
				  "title": {},
				  "hotspot": {
				    "url": "https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/startups%2Fstartup_wiliot.pdf?alt=media&token=94a85d78-2dff-4bc3-8851-2d284e485153",
				    "icon": 'doc-pdf',
				    "isVideo": true,
				  },
				  "picture": {
				    "altText": "Wiliot",
				    "srcPath": "assets/images/startups/startup_wiliot.png",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		  	</li>
		</ul>
	</div> -->
	<div id="etContacts" class="container mx-0 px-2 py-3 bg-blue">
		<h3 class="type-headlineSection mb-2 color-white">Team Contacts</h3>
		<div class="row">
			<div class="col-auto">
				{% include "_components/team.html" with {
			      "name": "Andy Tarczon",
			      "title": "Director Strategy & Insights",
			      "bio": "",
			      "picture": {
			        "altText": "Tarczon",
			        "srcPath": "assets/images/profiles/img_profile_tarczon.jpg",
			        "placeholderSize": "500 330"
			      }
			    } %}
			</div>
			<div class="col-auto">
				{% include "_components/team.html" with {
			      "name": "Carie Cunningham",
			      "title": "Director, Experience Design",
			      "bio": "",
			      "picture": {
			        "altText": "Cunningham",
			        "srcPath": "assets/images/profiles/img_profile_carie.png",
			        "placeholderSize": "510 350"
			      }
			    } %}
			</div>
			<div class="col-auto">
				{% include "_components/team.html" with {
			      "name": "Hank Zerbe",
			      "title": "Content Manager",
			      "bio": "",
			      "picture": {
			        "altText": "Zerbe",
			        "srcPath": "assets/images/profiles/img_profile_zerbe.jpg",
			        "placeholderSize": "500 330"
			      }
			    } %}
			</div>
			<div class="col-auto">
				{% include "_components/team.html" with {
			      "name": "Ian Cahill",
			      "title": "Associate Director of Emerging Tech, Voice",
			      "bio": "",
			      "picture": {
			        "altText": "Cahill",
			        "srcPath": "assets/images/profiles/img_profile_cahill.jpg",
			        "placeholderSize": "500 330"
			      }
			    } %}
			</div>
		</div>
	</div>

    
  </article>
{% endblock %}
