{#
  Twig Templating!
  Homepage: https://twig.symfony.com/
  Docs: https://twig.symfony.com/doc
#}

{% extends '_layouts/page.html' %}
{% set noHeader = false %}
{% set menuOnly = false %}
{% set menuInlineText = false %}
{% set noMenu = false %}
{% set noLogo = false %}
{% set recognition = true %}
{% set headerMenu = global.menu.mobility %}
{% set headerLogo = 'logo.png' %}
{% set title = "VMLY&R | Mobile Apps &amp; Emerging Technology" %}
{% set enableLibraryMasonry = true %}

{% block content %}
  <article id="intro" class="landing-home" id="top">
  	{% include "_components/intro.html" with {
  	"title": "Mobile Apps",
  	"titleAbove": "",
  	"titleBelow": "@ VMLY&amp;R",
  	"bgFileName": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/hero/constellation.jpg",
  	"classes": "vg-4 color-white",
  	"buttons": [
  	{
      "title": "Download PDF",
      "url": "https://vmlyr.docsend.com/view/r79yjgrkfspp6sev",
      "icon": "dl",
      "size": "xs",
      "newWindow": true,
      "class": "button--white",
      "heading": ""
    },
    {
      "title": "Download Keynote",
      "url": "https://vmlyr.docsend.com/view/si6gix4mbazv97qr",
      "icon": "dl",
      "size": "xs",
      "newWindow": true,
      "class": "button--white",
      "heading": ""
    }
    ]
  } %}
	<!-- Intro -->
	<div class="row row--gutter-wide-lg mx-0 px-1 py-3">
	  <div class="col-12 md:col-4">
	  	<p class="uppercase mb-1 font-bold">By the Numbers</p>
  		<div class="row pb-2">
  			<div class="col-6 align-center pb-2">
  				<h3 class="color-cyan">100+</h3>
  				<p class="type-meta">Combined Years of App Leadership</p>
  			</div>
  			<div class="col-6 align-center pb-2">
  				<h3 class="color-cyan">15K+</h3>
  				<p class="type-meta">Apps</br>Managed</p>
  			</div>
  			<div class="col-6 align-center pb-2">
  				<h3 class="color-cyan">10+</h3>
  				<p class="type-meta">App Stores</br>Built</p>
  			</div>
  			<div class="col-6 align-center pb-2">
  				<h3 class="color-cyan">100+</h3>
  				<p class="type-meta">Apps</br>Released</p>
  			</div>
  			<div class="col-6 align-center pb-2">
  				<h3 class="color-cyan">900+M</h3>
  				<p class="type-meta">Unique Active Users</p>
  			</div>
  			<div class="col-6 align-center pb-2">
  				<h3 class="color-cyan">7</h3>
  				<p class="type-meta">Startup</br>Aquisitions</p>
  			</div>
  		</div>
	  </div>
	  <div id="appExpertise" class="col-12 md:col-8">
	  	<h3 class="type-headlineSection mb-2">BEST-IN-CLASS APP EXPERTISE</h3>
	  	<p class="font-bold mb-2">Our team has a unique blend of industry-recognized knowledge driven by a combined 100+ years of experience in mobile apps.</p>
		<p>Our group has launched apps like The WSJ, London Evening Standard, The Atlantic, Tetris, MedHost, and Wheel of Fortune, while consulting on early developed apps like Pandora, eBay, and more. In addition, we have not only built cellular networks, but also strong middleware platforms for rapid app development. We have a patent on the creation and development of mobile hotspots, as well as being an early innovator in Natural Language Processing (NLP), well before the surge of today’s in-home hubs and assistants.</p>
		<p class="font-bold my-2">We are heavy on hygiene. Our continued education, training process and standards, positions our global team to work fluidly together.</p>
		<p>Through strategy and concepts, feature prioritization, stories and sizing, design with efficient development/deploys in mind, and customer acquisition and ongoing engagement, we scream velocity.</p>
	  </div>
	</div>
	<!-- Our Practice -->
	<div id="appPractice" class="container px-2 py-3 bg-onyx-10">
		<h3 class="type-headlineSection mb-2">Our Practice</h3>
		<dl class="faq__list">
			<div class="faq__row">
				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">Strategy</h5> 
					<p class="uppercase type-sm color-onyx-60">Why we should/shouldn’t</p>
				</div>
				{% endblock %}
				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						<img src="assets/images/practice/img_strategy_pdf.jpg" style="box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.2);">
						<p class="mt-1">
							<a href="https://vmlyr.docsend.com/view/wird77ajav76jeqq" target="_blank">Download PDF</a>
						</p>
						<p class="mt-2">Outputs from Strategy</p>
						<a href="https://vmlyr.docsend.com/view/3msvasjf7pn9i8ke" class="block">Brainsteer</a>
						<a href="https://vmlyr.docsend.com/view/nk3zk3h53xe2jgmi" class="block">POC Planning</a>
						<a href="https://vmlyr.docsend.com/view/6wzxfjmpyg9xfja9" class="block">Design Sprint</a>
						<a href="https://vmlyr.docsend.com/view/h5z5b4ttjpzsjbsf" class="block">Roadmap</a>
						<span class="type-xs italic color-onyx-60">*Ask your VMLY&R rep for access</span>
	  				</div>
	  				<div class="col-12 md:col-10">
	  				<h5 class="color-purple-medium">DEEP RESEARCH & INSIGHTS</h5>
	  				<p class="my-1">Knowing what direction a product takes requires countless hours of competitive analysis and deep-dive research into both the industry and the methodology of a solution.</p>
	  				<p class="my-1">In this PDF we will address:</p>
	  				<div class="pl-2">
		  				<p class="uppercase font-bold color-purple-medium">CUSTOMER EXPERIENCE STACK</p>
		  				<p class="type-sm">The customer is always right, we provide a direct map to how that happens.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">DISCOVERY APPROACH & PROCESS</p>
		  				<p class="type-sm">Strength lies in building a pattern to deliver performance and KPIs that fit the project.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">IDEA CULTIVATION</p>
		  				<p class="type-sm">Using a series of methods, we test the limits of a problem through human centered ideation.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">DELIVERABLES</p>
		  				<p class="type-sm">A concept comes alive through physical and digital prototyping that further vet a solution. In Addition, other forms of deliverables can push a project forward.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">DESIGN SPRINT</p>
		  				<p class="type-sm">Quick and efficient design sessions help identify holes and strengthen the workflow.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">PRODUCT ROADMAP</p>
		  				<p class="type-sm">Define the customer behavior and put forth meaningful solutions to accommodate those behaviors.</p>
	  				</div>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}
				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">Program Management</h5> 
					<p class="uppercase type-sm color-onyx-60">Organized Priorities</p>
				</div>
				{% endblock %}
				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						<img src="assets/images/practice/img_programmgmt_pdf.jpg" style="box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.2);">
						<p class="mt-1">
							<a href="https://vmlyr.docsend.com/view/fb4nvux3ped6kxri" target="_blank">Download PDF</a>
						</p>
						<p class="mt-2">What's Next...</p>
						<a href="https://vmlyr.docsend.com/view/kgg2mk7a2en9q494" class="block">The Next 30,60 & 90 Days</a>
						<span class="type-xs italic color-onyx-60">*Ask your VMLY&R rep for access</span>
	  				</div>
	  				<div class="col-12 md:col-10">
	  				<h5 class="color-purple-medium">PROCESS WITHOUT PAIN</h5>
	  				<p class="my-1">Creating a culture of collaboration means breaking down silos among development, operations and quality teams.</p>
	  				<p class="my-1">In this PDF we will address:</p>
	  				<div class="pl-2">
		  				<p class="uppercase font-bold color-purple-medium">SOLUTION DELIVERY FRAMEWORK</p>
		  				<p class="type-sm">Prioritize and evaluate a project using a consistent framework across all teams involved.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">PRODUCT OWNER DELIVERY ELEMENTS</p>
		  				<p class="type-sm">Regular reviews and stand-ups to ensure deadlines are met and the team remains productive.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">ONE TEAM</p>
		  				<p class="type-sm">Put everyone working on the project on the same page. No waiting for your turn to take action. We are all in this together.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">OUR TOOLS ACROSS THE FRAMEWORK</p>
		  				<p class="type-sm">Our toolset aims for the greatest collaboration and efficiency standards around.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">DESIGN SPRINT</p>
		  				<p class="type-sm">Quick and efficient design sessions help identify holes and strengthen the workflow.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">GETTING GOING</p>
		  				<p class="type-sm">Our process as we move from ideation to live and iteration.</p>
	  				</div>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}

				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">XD &amp; Design</h5> 
					<p class="uppercase type-sm color-onyx-60">Customer Experiences</p>
				</div>
				{% endblock %}

				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						<img src="assets/images/practice/img_xd_pdf.jpg" style="box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.2);">
						<p class="mt-1">
							<a href="https://vmlyr.docsend.com/view/qq5hnevn4yqik74t" target="_blank">Download PDF</a>
						</p>
						<p class="mt-2">Output from XD</p>
						<a href="https://vmlyr.docsend.com/view/dqtpvbuh89iu3rvh" class="block">Heurisitic Assessment</a>
						<span class="type-xs italic color-onyx-60">*Ask your VMLY&R rep for access</span>
	  				</div>
	  				<div class="col-12 md:col-10">
	  				<h5 class="color-purple-medium">NATIVE-FIRST EXPERIENCES</h5>
	  				<p class="my-1">By leveraging the latest in mobile and web design theory, we set the foundations for leading edge development while adhering to the needs of the consumer.</p>
	  				<p class="my-1">In this PDF we will address:</p>
	  				<div class="pl-2">
		  				<p class="uppercase font-bold color-purple-medium">PLATFORM GUIDANCE</p>
		  				<p class="type-sm">Education and Thought Leadership on the best approach to platform usage on a project level.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">HIG Reviews</p>
		  				<p class="type-sm">Ensure all standards are being followed based on the Human Interface Guidelines set forth by Apple and Google.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">CRUX</p>
		  				<p class="type-sm">Blended teams when both Creative and User Experience teams created a streamlined design process.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">ADA COMPLIANCE</p>
		  				<p class="type-sm">Following the modern standards of ADA allows all of our work to be accessible from initial launch to a project’s sunset.</p>
	  				</div>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}

				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">Development</h5> 
					<p class="uppercase type-sm color-onyx-60">Technology that Lasts</p>
				</div>
				{% endblock %}

				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						<img src="assets/images/practice/img_development_pdf.jpg" style="box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.2);">
						<p class="mt-1">
							<a href="https://vmlyr.docsend.com/view/vaeufq76zrbkqr27" target="_blank">Download PDF</a>
						</p>
						<p class="mt-2">Our Thoughts on...</p>
						<a href="https://vmlyr.docsend.com/view/4smqftvwtbgfqbkd" class="block">Native v. Hybrid</a>
						<span class="type-xs italic color-onyx-60">*Ask your VMLY&R rep for access</span>
	  				</div>
	  				<div class="col-12 md:col-10">
	  				<h5 class="color-purple-medium">JOURNEY DRIVEN DEVELOPMENT</h5>
	  				<p class="my-1">Creating a culture of collaboration means breaking down silos among development, operations and quality teams.</p>
	  				<p class="my-1">In this PDF we will address:</p>
	  				<div class="pl-2">
		  				<p class="uppercase font-bold color-purple-medium">ENGINEERING WORKFLOW</p>
		  				<p class="type-sm">Constant communication and collaboration with surrounding workflows from Ops to Design to Testing.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">API Forward</p>
		  				<p class="type-sm">Build when it makes sense and integrate often to allow for growth and fresh data.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">APPLICATION ARCHITECTURE</p>
		  				<p class="type-sm">Precision development requires a strong plan. Architecting that factors all the idiosyncrasies of a project plan.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">HOW WE BUILD</p>
		  				<p class="type-sm">Consistent development leads to the ability to reflect and reuse both talent and elements of code.</p>
	  				</div>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}

				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">Testing</h5> 
					<p class="uppercase type-sm color-onyx-60">Quality Assurance and User Acceptance</p>
				</div>
				{% endblock %}

				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						<img src="assets/images/practice/img_testing_pdf.jpg" style="box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.2);">
						<p class="mt-1">
							<a href="https://vmlyr.docsend.com/view/hsqjpwysrfjy89ta" target="_blank">Download PDF</a>
						</p>
						<p class="mt-2">Output from Testing</p>
						<a href="https://vmlyr.docsend.com/view/zyad6bbkxx4a29jj" class="block">Beta Testing Plan</a>
						<span class="type-xs italic color-onyx-60">*Ask your VMLY&R rep for access</span>
	  				</div>
	  				<div class="col-12 md:col-10">
	  				<h5 class="color-purple-medium">FROM DEVELOPMENT INTO THE HANDS OF USERS</h5>
	  				<p class="my-1">The VMLY&R AQ team leaves no stone unturned. Through automated test scripts and complex user stories, we work with development and creative to identify gaps and modify to increase performance and usability.</p>
	  				<p class="my-1">In this PDF we will address:</p>
	  				<div class="pl-2">
		  				<p class="uppercase font-bold color-purple-medium">HOW WE TEST</p>
		  				<p class="type-sm">Development driven testing guides applications through a multi-tiered approach.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">VALIDATION METHODS</p>
		  				<p class="type-sm">Relying on platform standards and real-user responses allow us to maintain quality practices that fit every mold.</p>
	  				</div>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}

				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">Product Life-Cycle</h5> 
					<p class="uppercase type-sm color-onyx-60">Acquire, Engage, Retain</p>
				</div>
				{% endblock %}

				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						<img src="assets/images/practice/img_lifecycle_pdf.jpg" style="box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.2);">
						<p class="mt-1">
							<a href="https://vmlyr.docsend.com/view/ky24zip7dkivw5h4" target="_blank">Download PDF</a>
						</p>
						<p class="mt-2">Outputs from Life-Cycle</p>
						<a href="https://vmlyr.docsend.com/view/krxg559s5x354sxx" class="block">ASO Plan</a>
						<a href="https://vmlyr.docsend.com/view/py9v3wfceaqz8vka" class="block">Sample Acquisition Plan</a>
						<a href="https://vmlyr.docsend.com/view/ip3g7wd3inyrzna6" class="block">Sample Messaging Playbook</a>
						<a href="https://vmlyr.docsend.com/view/sfaypxwjnqdr2ve5" class="block">Sample Monthly Report</a>
						<span class="type-xs italic color-onyx-60">*Ask your VMLY&R rep for access</span>
	  				</div>
	  				<div class="col-12 md:col-10">
	  				<h5 class="color-purple-medium">BUILDING AN EXPERIENCE IS LESS THAN 50% OF THE WORK.</h5>
	  				<p class="my-1">Once the product is live, the work isn’t over. Finding and maintaining a user base is all part of the strategy of lifecycle management.</p>
	  				<p class="my-1">In this PDF we will address:</p>
	  				<div class="pl-2">
		  				<p class="uppercase font-bold color-purple-medium">OWNERSHIP</p>
		  				<p class="type-sm">Getting to market is easy, knowing how to adjust to what you thought was right is an always-on job.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">ACQUISITION</p>
		  				<p class="type-sm">Find the right way to get the user that will receive the most value from the experience.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">ENGAGEMENT</p>
		  				<p class="type-sm">Create the appropriate level of engagement to talk with users at the right time for the right reasons.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">STORY-TELLING</p>
		  				<p class="type-sm">Determine how to relay the success and opportunities to the multiple organizational layers that need to know that information.</p>
	  				</div>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}
			</div>
		</dl>
	</div>

	<!-- WORK -->
	<div id="appWork" class="row mx-0 px-2 py-3 bg-blue">
	  <div class="col-12">
	  	<h3 class="type-headlineSection mb-2 color-white">Case Studies</h3>
	  </div>
	  <div class="container py-2 carousel__hero px-0">
      {% embed "_components/carousel.html" with {
        "tnsOptions": {
          autoHeight: true,
          autoplay: true,
          autoplayTimeout: 5000,
          nav: true,
          responsive: {
            '1024': {
              edgePadding: 200,
              rewind: false
            }
          }
        },
        "counter": {
          "hide": true,
          "backdrop": false,
          "inverted": false
        },
        "controls": {
          "fixed": false
        },
        "iconLeft": {
          "name": "return-left",
          "color": "color-gray",
          "size": "xl"
        },
        "iconRight": {
          "name": "return-right",
          "color": "color-gray",
          "size": "xl"
        }
      } %}
        {% block carousel %}
          <div class="carousel__slide intro">
            <a href="https://vimeo.com/356019685" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_fp.png" alt=""></a>
            <div class="carousel__slideBox">
                <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://vimeo.com/356019685" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
	                </div>
	                <div class="col-6">
	                	<a href="https://vmlyr.docsend.com/view/vb8w8xm3frd3taw5" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://dl.dropboxusercontent.com/s/rlfg62xwod904y7/UR_WPPAward_01.mp4" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_ur.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://dl.dropboxusercontent.com/s/rlfg62xwod904y7/UR_WPPAward_01.mp4" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
	                </div>
	                <div class="col-6">
	                	<a href="https://vmlyr.docsend.com/view/trnbmg8nw6a4tm37" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://vmlyr.docsend.com/view/nqxyqifur37isywd" target="_blank"><img src="assets/images/casestudies/img/img_cs_bf.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://vmlyr.docsend.com/view/nqxyqifur37isywd" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://www.youtube.com/watch?v=9JEbBqXvXw0" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_bs.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://www.youtube.com/watch?v=9JEbBqXvXw0" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
	                </div>
	                <div class="col-6">
	                	<a href="https://vmlyr.docsend.com/view/sukmdsmz6egq8uwf" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://vimeo.com/451560516" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_lh.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://vimeo.com/451560516" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
	                </div>
	                <div class="col-6">
	                	<a href="https://vmlyr.docsend.com/view/3yshgramra8vnjaw" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://vmlyr.docsend.com/view/8wiiu4pvdk2ydhaq" target="_blank"><img src="assets/images/casestudies/img/img_cs_nbc.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://vmlyr.docsend.com/view/8wiiu4pvdk2ydhaq" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://vimeo.com/282366020" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_qt.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://vimeo.com/282366020" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
	                </div>
	                <div class="col-6">
	                	<a href="https://vmlyr.docsend.com/view/umyu67q8hp8m346v" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://vimeo.com/375767133" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_tenn.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://vimeo.com/375767133" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
	                </div>
	                <div class="col-6">
	                	<a href="https://vmlyr.docsend.com/view/cgmbheas2v49hsd8" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://player.vimeo.com/video/101048614?autoplay=0" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_rc.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://player.vimeo.com/video/101048614?autoplay=0" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
	                </div>
	                <div class="col-6">
	                	<a href="https://vmlyr.docsend.com/view/f5x7qun325akazuw" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
          <div class="carousel__slide">
            <a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/videos%2FAAFP_Animatic_Edit_04.mp4?alt=media&token=0aab8597-eeed-4b59-966a-562f92d8b058" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_aafp.png" alt=""></a>
            <div class="carousel__slideBox">
              <div class="row carousel__slideBoxText type-base">
	                <div class="col-6">
	                	<a href="https://firebasestorage.googleapis.com/v0/b/mobility-426be.appspot.com/o/videos%2FAAFP_Animatic_Edit_04.mp4?alt=media&token=0aab8597-eeed-4b59-966a-562f92d8b058" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
	                </div>
	                <div class="col-6">
	                	<a href="https://vmlyr.docsend.com/view/2urznsu89f5x7jjj" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
	                </div>
            	</div>
            </div>
          </div>
        {% endblock %}
      {% endembed %}
    </div>
	</div>
	<!--Partners -->
	<div id="appPartners" class="container mx-0 px-2 py-3">
	<h3 class="type-headlineSection mb-2">Our Partners</h3>
	<div class="row">
		<div class="col-12">
	  		<ul class="logoWall logoWall--wide">
			  <li class="logoWall__col">
			    <span class="align-center block">
			    {% include "_components/figure.html" with {
			      "picture": {
			        "altText": "FordPass",
			        "srcPath": "assets/images/appicons/img_app_ford.png",
			        "placeholderSize": "128 48",
			        "class": "logoWall__logo my-0 mx-auto"
			      }
			    } %}
			    <label class="align-center block type-sm mt-1">FordPass</label>
			    <label class="align-center block type-xs mt-0 color-onyx-60">Automotive</label>
				</span>
			  </li>
			  <li class="logoWall__col">
			    <span class="align-center block">
			    {% include "_components/figure.html" with {
			      "picture": {
			        "altText": "United Rentals",
			        "srcPath": "assets/images/appicons/img_app_ur.png",
			        "placeholderSize": "128 48",
			        "class": "logoWall__logo my-0 mx-auto"
			      }
			    } %}
			    <label class="align-center block type-sm mt-1">United Rentals</label>
			    <label class="align-center block type-xs mt-0 color-onyx-60">Business</label>
				</span>
			  </li>
			  <li class="logoWall__col">
			    <span class="align-center block">
			    {% include "_components/figure.html" with {
			      "picture": {
			        "altText": "Sherwin-Williams Pro",
			        "srcPath": "assets/images/appicons/img_app_swpro.png",
			        "placeholderSize": "128 48",
			        "class": "logoWall__logo my-0 mx-auto"
			      }
			    } %}
			    <label class="align-center block type-sm mt-1">S-W Pro</label>
			    <label class="align-center block type-xs mt-0 color-onyx-60">Retail</label>
				</span>
			  </li>
			  <li class="logoWall__col">
			    <span class="align-center block">
			    {% include "_components/figure.html" with {
			      "picture": {
			        "altText": "Color Snap",
			        "srcPath": "assets/images/appicons/img_app_colorsnap.png",
			        "placeholderSize": "128 48",
			        "class": "logoWall__logo my-0 mx-auto"
			      }
			    } %}
			    <label class="align-center block type-sm mt-1">Color Snap</label>
			    <label class="align-center block type-xs mt-0 color-onyx-60">Retail</label>
				</span>
			  </li>
			  <li class="logoWall__col">
			    <span class="align-center block">
			    {% include "_components/figure.html" with {
			      "picture": {
			        "altText": "Banfield",
			        "srcPath": "assets/images/appicons/img_app_bf.png",
			        "placeholderSize": "128 48",
			        "class": "logoWall__logo my-0 mx-auto"
			      }
			    } %}
			    <label class="align-center block type-sm mt-1">Banfield</label>
			    <label class="align-center block type-xs mt-0 color-onyx-60">Medical</label>
				</span>
			  </li>
			  <li class="logoWall__col">
			    <span class="align-center block">
			    {% include "_components/figure.html" with {
			      "picture": {
			        "altText": "Bridgestone Fleet",
			        "srcPath": "assets/images/appicons/img_app_bs.png",
			        "placeholderSize": "128 48",
			        "class": "logoWall__logo my-0 mx-auto"
			      }
			    } %}
			    <label class="align-center block type-sm mt-1">Bridgestone Fleet</label>
			    <label class="align-center block type-xs mt-0 color-onyx-60">Business</label>
				</span>
			  </li>
			  <li class="logoWall__col">
			    <span class="align-center block">
			    {% include "_components/figure.html" with {
			      "picture": {
			        "altText": "Ford Credit",
			        "srcPath": "assets/images/appicons/img_app_credit.png",
			        "placeholderSize": "128 48",
			        "class": "logoWall__logo my-0 mx-auto"
			      }
			    } %}
			    <label class="align-center block type-sm mt-1">Ford Credit</label>
			    <label class="align-center block type-xs mt-0 color-onyx-60">Finance</label>
				</span>
			  </li>
			  <li class="logoWall__col">
			    <span class="align-center block">
			    {% include "_components/figure.html" with {
			      "picture": {
			        "altText": "Dell",
			        "srcPath": "assets/images/appicons/img_app_dell.png",
			        "placeholderSize": "128 48",
			        "class": "logoWall__logo my-0 mx-auto"
			      }
			    } %}
			    <label class="align-center block type-sm mt-1">Dell</label>
			    <label class="align-center block type-xs mt-0 color-onyx-60">Business</label>
				</span>
			  </li>
			  <li class="logoWall__col">
			    <span class="align-center block">
			    {% include "_components/figure.html" with {
			      "picture": {
			        "altText": "DSG",
			        "srcPath": "assets/images/appicons/img_app_dicks.png",
			        "placeholderSize": "128 48",
			        "class": "logoWall__logo my-0 mx-auto"
			      }
			    } %}
			    <label class="align-center block type-sm mt-1">DSG</label>
			    <label class="align-center block type-xs mt-0 color-onyx-60">Retail</label>
				</span>
			  </li>
			  <li class="logoWall__col">
			    <span class="align-center block">
			    {% include "_components/figure.html" with {
			      "picture": {
			        "altText": "Gatorade",
			        "srcPath": "assets/images/appicons/img_app_gatorade.png",
			        "placeholderSize": "128 48",
			        "class": "logoWall__logo my-0 mx-auto"
			      }
			    } %}
			    <label class="align-center block type-sm mt-1">Gatorade</label>
			    <label class="align-center block type-xs mt-0 color-onyx-60">Entertainment</label>
				</span>
			  </li>
			  <li class="logoWall__col">
			    <span class="align-center block">
			    {% include "_components/figure.html" with {
			      "picture": {
			        "altText": "QuikTrip",
			        "srcPath": "assets/images/appicons/img_app_qt.png",
			        "placeholderSize": "128 48",
			        "class": "logoWall__logo my-0 mx-auto"
			      }
			    } %}
			    <label class="align-center block type-sm mt-1">QuikTrip</label>
			    <label class="align-center block type-xs mt-0 color-onyx-60">Food</label>
				</span>
			  </li>
			  <li class="logoWall__col">
			    <span class="align-center block">
			    {% include "_components/figure.html" with {
			      "picture": {
			        "altText": "MedHost",
			        "srcPath": "assets/images/appicons/img_app_mh.png",
			        "placeholderSize": "128 48",
			        "class": "logoWall__logo my-0 mx-auto"
			      }
			    } %}
			    <label class="align-center block type-sm mt-1">MedHost</label>
			    <label class="align-center block type-xs mt-0 color-onyx-60">Medical</label>
				</span>
			  </li>
			  <li class="logoWall__col">
			    <span class="align-center block">
			    {% include "_components/figure.html" with {
			      "picture": {
			        "altText": "NBC Sports",
			        "srcPath": "assets/images/appicons/img_app_nbc.png",
			        "placeholderSize": "128 48",
			        "class": "logoWall__logo my-0 mx-auto"
			      }
			    } %}
			    <label class="align-center block type-sm mt-1">NBC Sports</label>
			    <label class="align-center block type-xs mt-0 color-onyx-60">Entertainment</label>
				</span>
			  </li>
			  <li class="logoWall__col">
			    <span class="align-center block">
			    {% include "_components/figure.html" with {
			      "picture": {
			        "altText": "Rip Curl",
			        "srcPath": "assets/images/appicons/img_app_ripcurl.png",
			        "placeholderSize": "128 48",
			        "class": "logoWall__logo my-0 mx-auto"
			      }
			    } %}
			    <label class="align-center block type-sm mt-1">RipCurl</label>
			    <label class="align-center block type-xs mt-0 color-onyx-60">Lifestyle</label>
				</span>
			  </li>
			  <li class="logoWall__col">
			    <span class="align-center block">
			    {% include "_components/figure.html" with {
			      "picture": {
			        "altText": "Sprint",
			        "srcPath": "assets/images/appicons/img_app_sprint.png",
			        "placeholderSize": "128 48",
			        "class": "logoWall__logo my-0 mx-auto"
			      }
			    } %}
			    <label class="align-center block type-sm mt-1">Sprint</label>
			    <label class="align-center block type-xs mt-0 color-onyx-60">Business</label>
				</span>
			  </li>
			  <li class="logoWall__col">
			    <span class="align-center block">
			    {% include "_components/figure.html" with {
			      "picture": {
			        "altText": "Living History",
			        "srcPath": "assets/images/appicons/img_app_union.png",
			        "placeholderSize": "128 48",
			        "class": "logoWall__logo my-0 mx-auto"
			      }
			    } %}
			    <label class="align-center block type-sm mt-1">Living History</label>
			    <label class="align-center block type-xs mt-0 color-onyx-60">AR</label>
				</span>
			  </li>
			  <li class="logoWall__col">
			    <span class="align-center block">
			    {% include "_components/figure.html" with {
			      "picture": {
			        "altText": "AAFP",
			        "srcPath": "assets/images/appicons/img_app_aafp.png",
			        "placeholderSize": "128 48",
			        "class": "logoWall__logo my-0 mx-auto"
			      }
			    } %}
			    <label class="align-center block type-sm mt-1">AAFP</label>
			    <label class="align-center block type-xs mt-0 color-onyx-60">Medical</label>
				</span>
			  </li>
			  <li class="logoWall__col">
			    <span class="align-center block">
			    {% include "_components/figure.html" with {
			      "picture": {
			        "altText": "Ford Performance",
			        "srcPath": "assets/images/appicons/img_app_gt.png",
			        "placeholderSize": "128 48",
			        "class": "logoWall__logo my-0 mx-auto"
			      }
			    } %}
			    <label class="align-center block type-sm mt-1">Ford Performance</label>
			    <label class="align-center block type-xs mt-0 color-onyx-60">Automobile</label>
				</span>
			  </li>
			  <li class="logoWall__col">
			    <span class="align-center block">
			    {% include "_components/figure.html" with {
			      "picture": {
			        "altText": "Office Depot - Office Max",
			        "srcPath": "assets/images/appicons/img_app_od.png",
			        "placeholderSize": "128 48",
			        "class": "logoWall__logo my-0 mx-auto"
			      }
			    } %}
			    <label class="align-center block type-sm mt-1">Office Max</label>
			    <label class="align-center block type-xs mt-0 color-onyx-60">Business</label>
				</span>
			  </li>
			  <li class="logoWall__col">
			    <span class="align-center block">
			    {% include "_components/figure.html" with {
			      "picture": {
			        "altText": "Haworth AR",
			        "srcPath": "assets/images/appicons/img_app_hw.png",
			        "placeholderSize": "128 48",
			        "class": "logoWall__logo my-0 mx-auto"
			      }
			    } %}
			    <label class="align-center block type-sm mt-1">Haworth</label>
			    <label class="align-center block type-xs mt-0 color-onyx-60">AR</label>
				</span>
			  </li>
			</ul>
	  	</div>
		<!-- <div class="col-12 md:col-4 md:col-offset-1">
	  	<p class="uppercase mb-1 font-bold">By Category</p>
  		<p class="pb-1"><img src="assets/images/categories/ico.food.png" class="va-bottom"> Food &amp; Drink</p>
  		<p class="pb-1"><img src="assets/images/categories/ico.medical.png" class="va-bottom"> Medical</p>
  		<p class="pb-1"><img src="assets/images/categories/ico.lifestyle.png" class="va-bottom"> Lifestyle</p>
  		<p class="pb-1"><img src="assets/images/categories/ico.business.png" class="va-bottom"> Business</p>
  		<p class="pb-1"><img src="assets/images/categories/ico.entertainment.png" class="va-bottom"> Entertainment</p>
  		<p class="pb-1"><img src="assets/images/categories/ico.ar.png" class="va-bottom"> AR</p>
  		<p class="pb-1"><img src="assets/images/categories/ico.health.png" class="va-bottom"> Health & Fitness</p>
  		<p class="pb-1"><img src="assets/images/categories/ico.sports.png" class="va-bottom"> Sports</p>
  		<p class="pb-1"><img src="assets/images/categories/ico.games.png" class="va-bottom"> Games</p>
	  </div> -->
	</div>
	</div>
	<!-- Articles -->
	<div id="app-articles" class="container px-2 py-3 bg-onyx-10">
		<h3 class="type-headlineSection mb-2">Thought Leadership</h3>
		{% set masonryFilters = [
		  {
		    "value": ".filter--categoryDesign",
		    "label": "Design"
		  },
		  {
		    "value": ".filter--categoryiOS",
		    "label": "iOS"
		  },
		  {
		    "value": ".filter--categoryAndroid",
		    "label": "Android"
		  },
		  {
		    "value": ".filter--categoryClient",
		    "label": "Client-focused"
		  }
		] %}
		{% embed "_components/masonry/content.html" with { "shuffle": false, "filters": masonryFilters } %}
		  {% block list %}
		    <div class="masonry__item filter--categoryApps filter--categoryiOS">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "Safari is Dead. Long Live Safari(ViewController)",
				    "sub": ""
				  },
				  "hotspot": {
				    "url": "https://passport.vmlyr.com/post/safari-dead.-long-live-safariviewcontroller",
				    "icon": 'link',
				    "newWindow": true,
				  },
				  "picture": {
				    "altText": "article",
				    "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/simplecrop/public/original_0.jpg?itok=-ohBcNuh&sc=68a17bed40e28000b5b31af95359b591",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		    </div>
		    <div class="masonry__item filter--categoryApps filter--categoryiOS">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "A More Transparent App Store",
				    "sub": ""
				  },
				  "hotspot": {
				    "url": "https://passport.vmlyr.com/post/more-transparent-app-store",
				    "icon": 'link',
				    "newWindow": true,
				  },
				  "picture": {
				    "altText": "article",
				    "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/simplecrop/public/screen_shot_2020-11-13_at_10.39.51_am.png?itok=eZExuyji&sc=544d5778c50bb0bd13e004a80616ec4c",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		    </div>
		    <div class="masonry__item filter--categoryAndroid filter--categoryApps">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "MVP or MVVM?",
				    "sub": "Android POV"
				  },
				  "hotspot": {
				    "url": "https://prinzly.medium.com/mvp-or-mvvm-be84bd29c2af",
				    "icon": 'link',
				    "newWindow": true,
				  },
				  "picture": {
				    "altText": "article",
				    "srcPath": "https://miro.medium.com/max/1400/1*3PcfOLa0GlLpy2JM1olyUw.png",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		    </div>
		    <div class="masonry__item filter--categoryApps filter--categoryDesign">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "10 Do's and Don't",
				    "sub": "of Mobile App Design"
				  },
				  "hotspot": {
				    "url": "https://passport.vmlyr.com/post/10-dos-and-donts-mobile-app-design-adobe-united-rentals",
				    "icon": 'link',
				    "newWindow": true,
				  },
				  "picture": {
				    "altText": "article",
				    "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/simplecrop/public/screen_shot_2020-04-03_at_10.58.04_am_0.png?itok=DeX73x3o&sc=042b2d4c0c531db3412c64d298b49b1a",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		    </div>
		    <div class="masonry__item filter--categoryApps">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "How to increase app store ratings",
				    "sub": ""
				  },
				  "hotspot": {
				    "url": "https://passport.vmlyr.com/post/how-increase-app-store-ratings-case-study",
				    "icon": 'link',
				    "newWindow": true,
				  },
				  "picture": {
				    "altText": "article",
				    "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/simplecrop/public/screen_shot_2020-04-24_at_3.54.51_pm_1.png?itok=ATY5ben_&sc=444d7c04f1f69e9d8ea7346f9fb91a0c",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		    </div>
		    <div class="masonry__item filter--categoryApps filter--categoryiOS">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "What's an App Clip?",
				    "sub": "iOS14"
				  },
				  "hotspot": {
				    "url": "https://passport.vmlyr.com/post/wwdc20-what-app-clip",
				    "icon": 'link',
				    "newWindow": true,
				  },
				  "picture": {
				    "altText": "article",
				    "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/simplecrop/public/screen_shot_2020-06-26_at_9.22.18_am_2.png?itok=ibW-izgS&sc=bd6c2ea9028d713e983440a4fb1d80f8",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		    </div>
		    <div class="masonry__item filter--categoryApps filter--categoryiOS">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "What's new in Permissions",
				    "sub": "iOS14"
				  },
				  "hotspot": {
				    "url": "https://passport.vmlyr.com/post/wwdc20-permission-prompts-attribution",
				    "icon": 'link',
				    "newWindow": true,
				  },
				  "picture": {
				    "altText": "article",
				    "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/simplecrop/public/img_1687.png?itok=auDQTMjZ&sc=57ff450815f6885eb0f068511950f8e1",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		    </div>
		    <div class="masonry__item filter--categoryAndroid filter--categoryApps">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "Android Unit Testing",
				    "sub": "with Mockito and Kluent"
				  },
				  "hotspot": {
				    "url": "https://medium.com/@prinzly/android-unit-testing-with-mockito-and-kluent-2919613b3f64",
				    "icon": 'link',
				    "newWindow": true,
				  },
				  "picture": {
				    "altText": "article",
				    "srcPath": "https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		    </div>
		    <div class="masonry__item filter--categoryApps filter--categoryiOS filter--categoryClient filter--categoryDesign">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "How We Accidentally* Built an iPad App",
				    "sub": "United Rentals"
				  },
				  "hotspot": {
				    "url": "https://passport.vmlyr.com/post/how-we-accidentally-built-ipad-app",
				    "icon": 'link',
				    "newWindow": true,
				  },
				  "picture": {
				    "altText": "article",
				    "srcPath": "https://images.unsplash.com/photo-1588985719185-4b612a405cd1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		    </div>
		    <div class="masonry__item filter--categoryApps">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "Share artifacts with an orphan branch",
				    "sub": "Development"
				  },
				  "hotspot": {
				    "url": "https://passport.vmlyr.com/post/share-artifacts-orphan-branch",
				    "icon": 'link',
				    "newWindow": true,
				  },
				  "picture": {
				    "altText": "article",
				    "srcPath": "https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		    </div>
		    <div class="masonry__item filter--categoryiOS filter--categoryApps filter--categoryDesign">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "WWDC20",
				    "sub": "What Designers Should Know"
				  },
				  "hotspot": {
				    "url": "https://passport.vmlyr.com/post/wwdc20-what-designers-should-know",
				    "icon": 'link',
				    "newWindow": true,
				  },
				  "picture": {
				    "altText": "article",
				    "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/simplecrop/public/screen_shot_2020-06-24_at_9.44.08_am_0.png?itok=EYWvWyj5&sc=2f170b036e1b3bfd3c7d1f02ed336af2",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		    </div>
		    <div class="masonry__item filter--categoryiOS filter--categoryApps">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "WWDC20",
				    "sub": "Day 1"
				  },
				  "hotspot": {
				    "url": "https://passport.vmlyr.com/post/apples-wwdc-2020-day-one-takeaways",
				    "icon": 'link',
				    "newWindow": true,
				  },
				  "picture": {
				    "altText": "article",
				    "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/simplecrop/public/ios-14-default-apps_0.jpg?itok=oDtzBvlq&sc=ef8abba08d8894568dc8aefc9e0ef35b",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  }
				} %}
		    </div>

		  {% endblock %}
		{% endembed %}
	</div>

	<div id="appContacts" class="container mx-0 px-2 py-3 bg-blue">
		<h3 class="type-headlineSection mb-2 color-white">Team Contacts</h3>
		<div class="row">
			<div class="col-auto">
				{% include "_components/team.html" with {
			      "name": "Eric Pfeifer",
			      "title": "Strategy",
			      "bio": "",
			      "picture": {
			        "altText": "Pfeifer",
			        "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/large/public/user-photo/ericpfeifer.jpg?itok=eQu0m3kF",
			        "placeholderSize": "500 330"
			      }
			    } %}
			</div>
			<div class="col-auto">
				{% include "_components/team.html" with {
			      "name": "Mike Whaley",
			      "title": "Strategy & Life-Cycle",
			      "bio": "",
			      "picture": {
			        "altText": "Whaley",
			        "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/large/public/user-photo/os0c8559.jpg?itok=gnZOjBFh",
			        "placeholderSize": "500 330"
			      }
			    } %}
			</div>
			<div class="col-auto">
				{% include "_components/team.html" with {
			      "name": "Adam Jones",
			      "title": "Design & Development",
			      "bio": "",
			      "picture": {
			        "altText": "Jones ",
			        "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/large/public/user-photo/adamjonesheadshot.jpeg?itok=oqdCqTju",
			        "placeholderSize": "500 330"
			      }
			    } %}
			</div>
			<div class="col-auto">
				{% include "_components/team.html" with {
			      "name": "Scott Gibson",
			      "title": "Design",
			      "bio": "",
			      "picture": {
			        "altText": "Gibson",
			        "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/large/public/user-photo/scott_gibson.jpg?itok=06f9VP8K",
			        "placeholderSize": "500 330"
			      }
			    } %}
			</div>
		</div>
		<div class="row">
			<div class="col-auto">
				{% include "_components/team.html" with {
			      "name": "Lauren Hensley",
			      "title": "Life-Cycle",
			      "bio": "",
			      "picture": {
			        "altText": "Hensley",
			        "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/large/public/user-photo/laurenwells_2_0.jpg?itok=l6vJfgcl",
			        "placeholderSize": "500 330"
			      }
			    } %}
			</div>
			<div class="col-auto">
				{% include "_components/team.html" with {
			      "name": "Emily Alford",
			      "title": "Program Management",
			      "bio": "",
			      "picture": {
			        "altText": "Alfod",
			        "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/large/public/user-photo/os0c0338.jpg?itok=wCEeCI_y",
			        "placeholderSize": "500 330"
			      }
			    } %}
			</div>
			<div class="col-auto">
				{% include "_components/team.html" with {
			      "name": "John Heryer",
			      "title": "Development",
			      "bio": "",
			      "picture": {
			        "altText": "Heryer",
			        "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/large/public/user-photo/os0c9968.jpg?itok=cXOX07M7",
			        "placeholderSize": "500 330"
			      }
			    } %}
			</div>
			<div class="col-auto">
				{% include "_components/team.html" with {
			      "name": "Ian Cahill",
			      "title": "Prototypes",
			      "bio": "",
			      "picture": {
			        "altText": "Cahill",
			        "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/large/public/user-photo/os0c3056.jpg?itok=N066u-SI",
			        "placeholderSize": "500 330"
			      }
			    } %}
			</div>
		</div>
	</div>

    
  </article>
{% endblock %}
