{#
  Twig Templating!
  Homepage: https://twig.symfony.com/
  Docs: https://twig.symfony.com/doc
#}

{% extends '_layouts/page.html' %}
{% set noHeader = false %}
{% set menuOnly = false %}
{% set menuInlineText = false %}
{% set noMenu = false %}
{% set noLogo = false %}
{% set recognition = true %}
{% set headerMenu = global.menu.page %}
{% set headerLogo = 'logo.png' %}
{% set title = "VMLY&R | Mobile Apps &amp; Emerging Technology" %}

{% block content %}
  <article class="landing-home" id="top">
  	{% include "_components/intro.html" with {
  	"title": "Mobile Apps",
  	"titleAbove": "",
  	"titleBelow": "@ VMLY&amp;R",
  	"bgFileName": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/hero/constellation.jpg",
  	"classes": "vg-4 color-white",
  	"buttons": [
  	{
      "title": "Download PDF",
      "url": "#",
      "icon": "download",
      "size": "xs",
      "newWindow": true,
      "class": "button--white",
      "heading": ""
    },
    {
      "title": "Read-Only Keynote",
      "url": "#",
      "icon": "download",
      "size": "xs",
      "newWindow": true,
      "class": "button--white",
      "heading": ""
    }
    ]
  } %}
	<!-- Intro -->
	<div class="row row--gutter-wide-lg mx-0 px-1 py-3">
	  <div class="col-12 md:col-4">
	  	<p class="uppercase mb-1 font-bold">By the Numbers</p>
  		<div class="row pb-2">
  			<div class="col-6 align-center pb-2">
  				<h3 class="color-cyan">100+</h3>
  				<p class="type-meta">Combined Years of App Leadership</p>
  			</div>
  			<div class="col-6 align-center pb-2">
  				<h3 class="color-cyan">15K+</h3>
  				<p class="type-meta">Apps</br>Managed</p>
  			</div>
  			<div class="col-6 align-center pb-2">
  				<h3 class="color-cyan">10+</h3>
  				<p class="type-meta">App Stores</br>Built</p>
  			</div>
  			<div class="col-6 align-center pb-2">
  				<h3 class="color-cyan">100+</h3>
  				<p class="type-meta">Apps</br>Released</p>
  			</div>
  			<div class="col-6 align-center pb-2">
  				<h3 class="color-cyan">900+</h3>
  				<p class="type-meta">Unique Active Startup Users</p>
  			</div>
  			<div class="col-6 align-center pb-2">
  				<h3 class="color-cyan">7</h3>
  				<p class="type-meta">Startup</br>Aquisitions</p>
  			</div>
  		</div>
	  </div>
	  <div class="col-12 md:col-8">
	  	<h3 class="type-headlineSection mb-2">BEST-IN-CLASS APP EXPERTISE</h3>
	  	<p class="font-bold mb-2">Our team has a unique blend of industry- recognized knowledge driven by a combined 100+ years of experience in mobile apps</p>
		<p>Our group has launched apps like The WSJ, London Evening Standard, The Atlantic, Tetris, MedHost, and Wheel of Fortune, while consulting on early developed apps like Pandora, eBay, and more. Furthermore, we have not only built cellular networks, but also strong middleware platforms for rapid app development, have a patent on the creation and development of mobile hotspots, as well as being an early innovator in Natural Language Processing (NLP), well before the surge of today’s in-home hubs and assistants.</p>
		<p class="font-bold my-2">We are heavy on hygiene. Our continued education, training process and standards, positions our global team to work fluidly together.</p>
		<p>Through strategy and concepts, feature prioritization, stories and sizing, design with efficient development/ deploys in mind, and customer acquisition and ongoing engagement, we scream velocity.</p>
	  </div>
	</div>
	<!-- Our Practice -->
	<div class="container px-2 py-3 bg-onyx-10">
		<h3 class="type-headlineSection mb-2">Our Practice</h3>
		<dl class="faq__list">
			<div class="faq__row">
				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">Strategy</h5> 
					<p class="uppercase type-sm color-onyx-60">Why we should/shouldn’t</p>
				</div>
				{% endblock %}
				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						<img src="assets/images/practice/img_strategy_pdf.jpg" style="box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.2);">
						<p class="mt-1">
							<a href="#">Download PDF</a>
						</p>
						<p class="mt-2">PDF Examples of...</p>
						<a href="#" class="block">Brainsteer</a>
						<a href="#" class="block">POC Planning</a>
						<a href="#" class="block">Design Sprint</a>
						<a href="#" class="block">Roadmap</a>
	  				</div>
	  				<div class="col-12 md:col-10">
	  				<h5 class="color-purple-medium">DEEP RESEARCH & INSIGHTS</h5>
	  				<p class="my-1">Knowing what direction a product takes requires countless hours of competitive analysis and deep-dive research into both the industry and the methodology of a solution.</p>
	  				<p class="my-1">In this PDF we will address:</p>
	  				<div class="pl-2">
		  				<p class="uppercase font-bold color-purple-medium">CUSTOMER EXPERIENCE STACK</p>
		  				<p class="type-sm">The customer is always right, we provide a direct map to how that happens</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">DISCOVERY APPROACH & PROCESS</p>
		  				<p class="type-sm">Strength lies in building a pattern to deliver performance and KPIs that fit the project.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">IDEA CULTIVATION</p>
		  				<p class="type-sm">Using a series of methods, we test the limits of a problem through human centered ideation.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">DELIVERABLES</p>
		  				<p class="type-sm">A concept comes alive through physical and digital prototyping that further vets a solution. In Addition, other forms of deliverables can push a project forward.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">DESIGN SPRINT</p>
		  				<p class="type-sm">Quick and efficient design sessions help identify holes and strengthen the workflow</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">PRODUCT ROADMAP</p>
		  				<p class="type-sm">Define the customer behavior and put forth meaningful solutions to accommodate those behaviors</p>
	  				</div>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}
				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">Program Management</h5> 
					<p class="uppercase type-sm color-onyx-60">Organized Priorities</p>
				</div>
				{% endblock %}
				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						<img src="assets/images/practice/img_programmgmt_pdf.jpg" style="box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.2);">
						<p class="mt-1">
							<a href="#">Download PDF</a>
						</p>
						<p class="mt-2">PDF Examples of...</p>
						<a href="#" class="block">The Next 30,60 & 90 Days</a>
	  				</div>
	  				<div class="col-12 md:col-10">
	  				<h5 class="color-purple-medium">PROCESS WITHOUT PAIN</h5>
	  				<p class="my-1">Creating a culture of collaboration means breaking down silos among development, operations and quality teams.</p>
	  				<p class="my-1">In this PDF we will address:</p>
	  				<div class="pl-2">
		  				<p class="uppercase font-bold color-purple-medium">SOLUTION DELIVERY FRAMEWORK</p>
		  				<p class="type-sm">Prioritize and evaluate a project using a consistent framework across all teams involved.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">PRODUCT OWNER DELIVERY ELEMENTS</p>
		  				<p class="type-sm">Regular reviews and stand-ups to ensure deadlines are met and the team remains productive.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">ONE TEAM</p>
		  				<p class="type-sm">Put everyone working on the project on the same page. No waiting for your turn to take action. We are all in this together.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">OUR TOOLS ACROSS THE FRAMEWORK</p>
		  				<p class="type-sm">Our toolset aims for the greatest collaboration and efficiency standards around.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">DESIGN SPRINT</p>
		  				<p class="type-sm">Quick and efficient design sessions help identify holes and strengthen the workflow</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">GETTING GOING</p>
		  				<p class="type-sm">Our process as we move from ideation to live and iteration.</p>
	  				</div>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}

				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">XD &amp; Design</h5> 
					<p class="uppercase type-sm color-onyx-60">Customer Experiences</p>
				</div>
				{% endblock %}

				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						<img src="assets/images/practice/img_xd_pdf.jpg" style="box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.2);">
						<p class="mt-1">
							<a href="#">Download PDF</a>
						</p>
						<p class="mt-2">PDF Examples of...</p>
						<a href="#" class="block">HIG Assessment</a>
	  				</div>
	  				<div class="col-12 md:col-10">
	  				<h5 class="color-purple-medium">NATIVE-FIRST EXPERIENCES</h5>
	  				<p class="my-1">By leveraging the latest in mobile and web design theory, we set the foundations for leading edge development while adhering to the needs of the consumer.</p>
	  				<p class="my-1">In this PDF we will address:</p>
	  				<div class="pl-2">
		  				<p class="uppercase font-bold color-purple-medium">PLATFORM GUIDANCE</p>
		  				<p class="type-sm">Education and Thought Leadership on the best approach to platform usage on a project level.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">HIG Reviews</p>
		  				<p class="type-sm">Ensure all standards are being followed based on the Human Interface Guidelines set forth by Apple and Google.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">CRUX</p>
		  				<p class="type-sm">Blended teams when both Creative and User Experience teams created a streamlined design process.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">ADA COMPLIANCE</p>
		  				<p class="type-sm">Following the modern standards of ADA allows all of our work to be accessible from initial launch to a project’s sunset.</p>
	  				</div>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}

				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">Development</h5> 
					<p class="uppercase type-sm color-onyx-60">Technology that Lasts</p>
				</div>
				{% endblock %}

				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						<img src="assets/images/practice/img_development_pdf.jpg" style="box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.2);">
						<p class="mt-1">
							<a href="#">Download PDF</a>
						</p>
						<p class="mt-2">PDF Examples of...</p>
						<a href="#" class="block">Native or Hybrid POV</a>
	  				</div>
	  				<div class="col-12 md:col-10">
	  				<h5 class="color-purple-medium">JOURNEY DRIVEN DEVELOPMENT</h5>
	  				<p class="my-1">Creating a culture of collaboration means breaking down silos among development, operations and quality teams.</p>
	  				<p class="my-1">In this PDF we will address:</p>
	  				<div class="pl-2">
		  				<p class="uppercase font-bold color-purple-medium">ENGINEERING WORKFLOW</p>
		  				<p class="type-sm">Constant communication and collaboration with surrounding workflows from Ops to Design to Testing.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">API Forward</p>
		  				<p class="type-sm">Build when it makes sense and integrate often to allow for growth and fresh data.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">APPLICATION ARCHITECTURE</p>
		  				<p class="type-sm">Precision development requires a strong plan. Architecting that factors all the idiosyncrasies of a project plan.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">HOW WE BUILD</p>
		  				<p class="type-sm">Consistent development leads to the ability to reflect and reuse both talent and elements of code.</p>
	  				</div>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}

				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">Testing</h5> 
					<p class="uppercase type-sm color-onyx-60">Quality Assurance and User Acceptance</p>
				</div>
				{% endblock %}

				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						<img src="assets/images/practice/img_testing_pdf.jpg" style="box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.2);">
						<p class="mt-1">
							<a href="#">Download PDF</a>
						</p>
						<p class="mt-2">PDF Examples of...</p>
						<a href="#" class="block">Beta Testing Plan</a>
	  				</div>
	  				<div class="col-12 md:col-10">
	  				<h5 class="color-purple-medium">FROM DEVELOPMENT INTO THE HANDS OF USERS</h5>
	  				<p class="my-1">The VMLY&R AQ team leaves no stone unturned. Through automated test scripts and complex user stories, we work with development and creative to identify gaps and modify to increase performance and usability.</p>
	  				<p class="my-1">In this PDF we will address:</p>
	  				<div class="pl-2">
		  				<p class="uppercase font-bold color-purple-medium">HOW WE TEST</p>
		  				<p class="type-sm">Development driven testing guides applications through a multi-tiered approach.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">VALIDATION METHODS</p>
		  				<p class="type-sm">Relying on platform standards and real-user responses allow us to maintain quality practices that fit every mold.</p>
	  				</div>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}

				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">Product Life-Cycle</h5> 
					<p class="uppercase type-sm color-onyx-60">Acquire, Engage, Retain</p>
				</div>
				{% endblock %}

				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						<img src="assets/images/practice/img_lifecycle_pdf.jpg" style="box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.2);">
						<p class="mt-1">
							<a href="#">Download PDF</a>
						</p>
						<p class="mt-2">PDF Examples of...</p>
						<a href="#" class="block">ASO Plan</a>
						<a href="#" class="block">Sample Acquisition Plan</a>
						<a href="#" class="block">Sample Messaging Playbook</a>
						<a href="#" class="block">Sample Monthly Report</a>
	  				</div>
	  				<div class="col-12 md:col-10">
	  				<h5 class="color-purple-medium">BUILDING AN EXPERIENCE IS LESS THAN 50% OF THE WORK.</h5>
	  				<p class="my-1">Once the product is live, the work isn’t over. Finding and maintaining a user base is all part of the strategy of lifecycle management.</p>
	  				<p class="my-1">In this PDF we will address:</p>
	  				<div class="pl-2">
		  				<p class="uppercase font-bold color-purple-medium">OWNERSHIP</p>
		  				<p class="type-sm">Getting to market is easy, knowing how to adjust to what you thought was right is an always-on job.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">ACQUISITION</p>
		  				<p class="type-sm">Find the right way to get the user that will receive the most value from the experience.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">ENGAGEMENT</p>
		  				<p class="type-sm">Create the appropriate level of engagement to talk with users at the right time for the right reasons.</p>
		  				<hr class="my-1">
		  				<p class="uppercase font-bold color-purple-medium">STORY-TELLING</p>
		  				<p class="type-sm">Determine how to relay the success and opportunities to the multiple organizational layers that need to know that information.</p>
	  				</div>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}
			</div>
		</dl>
	</div>

	<!--Partners -->
	<div class="container mx-0 px-2 py-3">
	<h3 class="type-headlineSection mb-2">App Experiences</h3>
	<ul class="logoWall logoWall--wide">
	  <li class="logoWall__col">
	    {% include "_components/figure.html" with {
	      "picture": {
	        "altText": "FordPass",
	        "srcPath": "assets/images/appicons/img_app_ford.png",
	        "placeholderSize": "128 48",
	        "class": "logoWall__logo"
	      }
	    } %}
	  </li>
	  <li class="logoWall__col">
	    {% include "_components/figure.html" with {
	      "picture": {
	        "altText": "United Rentals",
	        "srcPath": "assets/images/appicons/img_app_ur.png",
	        "placeholderSize": "128 48",
	        "class": "logoWall__logo"
	      }
	    } %}
	  </li>
	  <li class="logoWall__col">
	    {% include "_components/figure.html" with {
	      "picture": {
	        "altText": "Sherwin-Williams Pro",
	        "srcPath": "assets/images/appicons/img_app_swpro.png",
	        "placeholderSize": "128 48",
	        "class": "logoWall__logo"
	      }
	    } %}
	  </li>
	  <li class="logoWall__col">
	    {% include "_components/figure.html" with {
	      "picture": {
	        "altText": "Color Snap",
	        "srcPath": "assets/images/appicons/img_app_colorsnap.png",
	        "placeholderSize": "128 48",
	        "class": "logoWall__logo"
	      }
	    } %}
	  </li>
	  <li class="logoWall__col">
	    {% include "_components/figure.html" with {
	      "picture": {
	        "altText": "Banfield",
	        "srcPath": "assets/images/appicons/img_app_bf.png",
	        "placeholderSize": "128 48",
	        "class": "logoWall__logo"
	      }
	    } %}
	  </li>
	  <li class="logoWall__col">
	    {% include "_components/figure.html" with {
	      "picture": {
	        "altText": "Bridgestone Fleet",
	        "srcPath": "assets/images/appicons/img_app_bs.png",
	        "placeholderSize": "128 48",
	        "class": "logoWall__logo"
	      }
	    } %}
	  </li>
	  <li class="logoWall__col">
	    {% include "_components/figure.html" with {
	      "picture": {
	        "altText": "Ford Credit",
	        "srcPath": "assets/images/appicons/img_app_credit.png",
	        "placeholderSize": "128 48",
	        "class": "logoWall__logo"
	      }
	    } %}
	  </li>
	  <li class="logoWall__col">
	    {% include "_components/figure.html" with {
	      "picture": {
	        "altText": "Dell",
	        "srcPath": "assets/images/appicons/img_app_dell.png",
	        "placeholderSize": "128 48",
	        "class": "logoWall__logo"
	      }
	    } %}
	  </li>
	  <li class="logoWall__col">
	    {% include "_components/figure.html" with {
	      "picture": {
	        "altText": "DSG",
	        "srcPath": "assets/images/appicons/img_app_dicks.png",
	        "placeholderSize": "128 48",
	        "class": "logoWall__logo"
	      }
	    } %}
	  </li>
	  <li class="logoWall__col">
	    {% include "_components/figure.html" with {
	      "picture": {
	        "altText": "Gatorade",
	        "srcPath": "assets/images/appicons/img_app_gatorade.png",
	        "placeholderSize": "128 48",
	        "class": "logoWall__logo"
	      }
	    } %}
	  </li>
	  <li class="logoWall__col">
	    {% include "_components/figure.html" with {
	      "picture": {
	        "altText": "QuikTrip",
	        "srcPath": "assets/images/appicons/img_app_qt.png",
	        "placeholderSize": "128 48",
	        "class": "logoWall__logo"
	      }
	    } %}
	  </li>
	  <li class="logoWall__col">
	    {% include "_components/figure.html" with {
	      "picture": {
	        "altText": "MedHost",
	        "srcPath": "assets/images/appicons/img_app_mh.png",
	        "placeholderSize": "128 48",
	        "class": "logoWall__logo"
	      }
	    } %}
	  </li>
	  <li class="logoWall__col">
	    {% include "_components/figure.html" with {
	      "picture": {
	        "altText": "NBC Sports",
	        "srcPath": "assets/images/appicons/img_app_nbc.png",
	        "placeholderSize": "128 48",
	        "class": "logoWall__logo"
	      }
	    } %}
	  </li>
	  <li class="logoWall__col">
	    {% include "_components/figure.html" with {
	      "picture": {
	        "altText": "Rip Curl",
	        "srcPath": "assets/images/appicons/img_app_ripcurl.png",
	        "placeholderSize": "128 48",
	        "class": "logoWall__logo"
	      }
	    } %}
	  </li>
	  <li class="logoWall__col">
	    {% include "_components/figure.html" with {
	      "picture": {
	        "altText": "Sprint",
	        "srcPath": "assets/images/appicons/img_app_sprint.png",
	        "placeholderSize": "128 48",
	        "class": "logoWall__logo"
	      }
	    } %}
	  </li>
	</ul>
	</div>
	<!-- WORK -->
	<div class="row mx-0 px-2 py-3 bg-onyx-10">
	  <div class="col-12">
	  	<h3 class="type-headlineSection mb-2">Case Studies</h3>
	  </div>

	  {% embed "_components/carousel.html" with {
		  "tnsOptions": {
		    items: 1,
		    autoHeight: true,
		    speed: 500,
		    gutter: 20,
		    loop: false,
		    nav: true,
		    responsive: {
		      768: {
		        items: 3,
		        slideBy: 3
		      },
		      980: {
		        items: 5,
		        slideBy: 5
		      }
		    }
		  },
		  "counter": {
		    "backdrop": true,
		    "inverted": false
		  },
		  "controls": {
		    "fixed": true
		  },
		  "iconLeft": {
		    "name": "caret-left",
		    "color": "cyan",
		    "size": "sm"
		  },
		  "iconRight": {
		    "name": "caret-right",
		    "color": "cyan",
		    "size": "sm"
		  }
		} %}
		  {% block carousel %}
		  <div class="carousel__slide">
		      {% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "United Rentals",
				    "sub": "Construction"
				  },
				  "hotspot": {
				    "url": "https://vimeo.com/272846703",
				    "icon": 'video',
				    "isVideo": true,
				  },
				  "picture": {
				    "altText": "New Balance Case Study",
				    "id": "4cUKj3Wi5y2iusuY4SwOyQ",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  },
				  "extras": [
					    {
					      "url": "#",
					      "title": "PDF Case Study"
					    }
					  ]
				} %}
		    </div>
		    <div class="carousel__slide">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "FordPass",
				    "sub": "Automotive"
				  },
				  "hotspot": {
				    "url": "https://vimeo.com/272846703",
				    "icon": 'video',
				    "isVideo": true,
				  },
				  "picture": {
				    "altText": "FordPass Case Study",
				    "id": "4cUKj3Wi5y2iusuY4SwOyQ",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  },
				  "extras": [
					    {
					      "url": "#",
					      "title": "PDF Case Study"
					    }
					  ]
				} %}
		    </div>
		    <div class="carousel__slide">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "Bridgestone Fleet",
				    "sub": "Transportation"
				  },
				  "hotspot": {
				    "url": "https://vimeo.com/272846703",
				    "icon": 'video',
				    "isVideo": true,
				  },
				  "picture": {
				    "altText": "New Balance Case Study",
				    "id": "4cUKj3Wi5y2iusuY4SwOyQ",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  },
				  "extras": [
					    {
					      "url": "#",
					      "title": "PDF Case Study"
					    }
					  ]
				} %}
		    </div>
		    <div class="carousel__slide">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "AAFP",
				    "sub": "Medical"
				  },
				  "hotspot": {
				    "url": "https://vimeo.com/272846703",
				    "icon": 'video',
				    "isVideo": true,
				  },
				  "picture": {
				    "altText": "New Balance Case Study",
				    "id": "4cUKj3Wi5y2iusuY4SwOyQ",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  },
				  "extras": [
					    {
					      "url": "#",
					      "title": "PDF Case Study"
					    }
					  ]
				} %}
		    </div>
		    <div class="carousel__slide">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "QuikTrip",
				    "sub": "Food"
				  },
				  "hotspot": {
				    "url": "https://vimeo.com/272846703",
				    "icon": 'video',
				    "isVideo": true,
				  },
				  "picture": {
				    "altText": "New Balance Case Study",
				    "id": "4cUKj3Wi5y2iusuY4SwOyQ",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  },
				  "extras": [
					    {
					      "url": "#",
					      "title": "PDF Case Study"
					    }
					  ]
				} %}
		    </div>
		    <div class="carousel__slide">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "Banfield",
				    "sub": "Pet Care"
				  },
				  "hotspot": {
				    "url": "https://vimeo.com/272846703",
				    "icon": 'video',
				    "isVideo": true,
				  },
				  "picture": {
				    "altText": "New Balance Case Study",
				    "id": "4cUKj3Wi5y2iusuY4SwOyQ",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  },
				  "extras": [
					    {
					      "url": "#",
					      "title": "PDF Case Study"
					    }
					  ]
				} %}
		    </div>
		    <div class="carousel__slide">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "NBC Sports",
				    "sub": "Entertainment"
				  },
				  "hotspot": {
				    "url": "https://vimeo.com/272846703",
				    "icon": 'video',
				    "isVideo": true,
				  },
				  "picture": {
				    "altText": "New Balance Case Study",
				    "id": "4cUKj3Wi5y2iusuY4SwOyQ",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  },
				  "extras": [
					    {
					      "url": "#",
					      "title": "PDF Case Study"
					    }
					  ]
				} %}
		    </div>
		    <div class="carousel__slide">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "Living History",
				    "sub": "AR"
				  },
				  "hotspot": {
				    "url": "https://vimeo.com/272846703",
				    "icon": 'video',
				    "isVideo": true,
				  },
				  "picture": {
				    "altText": "New Balance Case Study",
				    "id": "4cUKj3Wi5y2iusuY4SwOyQ",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  },
				  "extras": [
					    {
					      "url": "#",
					      "title": "PDF Case Study"
					    }
					  ]
				} %}
		    </div>
		    <div class="carousel__slide">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "Rip Curl",
				    "sub": "Sports"
				  },
				  "hotspot": {
				    "url": "https://vimeo.com/272846703",
				    "icon": 'video',
				    "isVideo": true,
				  },
				  "picture": {
				    "altText": "New Balance Case Study",
				    "id": "4cUKj3Wi5y2iusuY4SwOyQ",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  },
				  "extras": [
					    {
					      "url": "#",
					      "title": "PDF Case Study"
					    }
					  ]
				} %}
		    </div>
		    <div class="carousel__slide">
		    	{% include "_components/spotlight.html" with {
				  "title": {
				    "primary": "Mobile Medic",
				    "sub": "AR"
				  },
				  "hotspot": {
				    "url": "https://vimeo.com/272846703",
				    "icon": 'video',
				    "isVideo": true,
				  },
				  "picture": {
				    "altText": "New Balance Case Study",
				    "id": "4cUKj3Wi5y2iusuY4SwOyQ",
				    "placeholderSize": "600 600",
				    "width": "600",
				    "height": "600"
				  },
				  "extras": [
					    {
					      "url": "#",
					      "title": "PDF Case Study"
					    }
					  ]
				} %}
		    </div>
		  {% endblock %}
		{% endembed %}




	  
	  
	</div>

    
  </article>
{% endblock %}
