{#
  Twig Templating!
  Homepage: https://twig.symfony.com/
  Docs: https://twig.symfony.com/doc
#}

{% extends '_layouts/page.html' %}
{% set noHeader = false %}
{% set menuOnly = false %}
{% set menuInlineText = false %}
{% set noMenu = false %}
{% set noLogo = false %}
{% set recognition = true %}
{% set headerMenu = global.menu.mobility %}
{% set headerLogo = 'logo.png' %}
{% set title = "VMLY&R | Lost Concept Collection" %}

{% block content %}
  <article class="landing-home" id="top">
  	{% include "_components/intro.html" with {
  	"title": "Prototype Submission",
  	"titleAbove": "Have an idea?",
  	"titleBelow": "",
  	"bgFileName": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/hero/constellation.jpg",
  	"classes": "vg-4 color-white",
  	"buttons": []
  } %}
  	<div id="form" class="row row--gutter-wide-lg mx-0 px-1 py-3">
  		<div class="col-12 md:col-7 pb-2">
  			<h3 class="type-headlineSection mb-2">VMLY&R Misfit Concepts</h3>
  			<p class="mb-1">As part of VMLY&R’s growing effort to enrich the client base and bring tangible examples of innovation to the forefront, the Mobile Apps and Emerging Tech group will be offering a second chance to ideas and concepts from all teams. If you have an idea you are still passionate about, but aren’t sure where it fits, you could be in luck!</p>

			<p class="mb-1">Examples of ideas that qualify:</p>
			<p class="mb-1">•	Client Concepts that didn’t make the cut.</p>
			<p class="mb-1">•	Passion Projects waiting for a campaign.</p>
			<p class="mb-1">•	New tech you are dying to try.</p>
			<p class="mb-1">•	Forward thinking ideas that solve big problems.</p>
			
			<p class="mb-1">Selection of projects will be made once per quarter using all submissions available on February 15, May 15, July 15, and Oct 15.</p>
  			<iframe width="100%" height="750" src="https://app.smartsheet.com/b/form/3976d3ba22c2498a9c8d3792f90ce592"></iframe>
  		</div>
	</div>
	<div>
  			<div id="etWork" class="row mx-0 px-2 py-3 bg-blue">
			  <div class="col-12">
			  	<h3 class="type-headlineSection mb-2 color-white">Case Studies</h3>
			  </div>
			  <div class="container py-2 carousel__hero px-0">
		      {% embed "_components/carousel.html" with {
		        "tnsOptions": {
		          autoHeight: true,
		          autoplay: true,
		          autoplayTimeout: 5000,
		          nav: true,
		          responsive: {
		            '1024': {
		              edgePadding: 200,
		              rewind: false
		            }
		          }
		        },
		        "counter": {
		          "hide": true,
		          "backdrop": false,
		          "inverted": false
		        },
		        "controls": {
		          "fixed": false
		        },
		        "iconLeft": {
		          "name": "return-left",
		          "color": "color-gray",
		          "size": "xl"
		        },
		        "iconRight": {
		          "name": "return-right",
		          "color": "color-gray",
		          "size": "xl"
		        }
		      } %}
		        {% block carousel %}
		          <div class="carousel__slide intro">
		            <a href="https://vmlyr.docsend.com/view/5n94zhscx8ms898h" target="_blank"><img src="assets/images/casestudies/img/img_cs_wwe.png" alt=""></a>
		            <div class="carousel__slideBox">
		                <div class="row carousel__slideBoxText type-base">
			                <div class="col-6">
			                	<a href="https://vmlyr.docsend.com/view/5n94zhscx8ms898h" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
			                </div>
		            	</div>
		            </div>
		          </div>
		          <div class="carousel__slide">
		            <a href="https://vmlyr.docsend.com/view/xrfn3rg2qut6nxun" target="_blank"><img src="assets/images/casestudies/img/img_cs_burgertime.png" alt=""></a>
		            <div class="carousel__slideBox">
		              <div class="row carousel__slideBoxText type-base">
			                <div class="col-6">
			                	<a href="https://vmlyr.docsend.com/view/xrfn3rg2qut6nxun" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
			                </div>
		            	</div>
		            </div>
		          </div>
		          <div class="carousel__slide">
		            <a href="https://vmlyr.docsend.com/view/d52izctbahbkfss5" target="_blank"><img src="assets/images/casestudies/img/img_cs_measure.png" alt=""></a>
		            <div class="carousel__slideBox">
		              <div class="row carousel__slideBoxText type-base">
			                <div class="col-6">
			                	<a href="https://vmlyr.docsend.com/view/d52izctbahbkfss5" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
			                </div>
		            	</div>
		            </div>
		          </div>
		          <div class="carousel__slide">
		            <a href="https://vmlyr.docsend.com/view/jtvnzivimyheewiu" target="_blank"><img src="assets/images/casestudies/img/img_cs_easybutton.png" alt=""></a>
		            <div class="carousel__slideBox">
		              <div class="row carousel__slideBoxText type-base">
			                <div class="col-6">
			                	<a href="https://vmlyr.docsend.com/view/jtvnzivimyheewiu" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
			                </div>
		            	</div>
		            </div>
		          </div>
		          <div class="carousel__slide">
		            <a href="https://vmlyr.docsend.com/view/fymz4c7rd8uetah2" target="_blank"><img src="assets/images/casestudies/img/img_cs_medtranslate.png" alt=""></a>
		            <div class="carousel__slideBox">
		              <div class="row carousel__slideBoxText type-base">
			                <div class="col-6">
			                	<a href="https://vmlyr.docsend.com/view/fymz4c7rd8uetah2" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
			                </div>
		            	</div>
		            </div>
		          </div>
		          <div class="carousel__slide">
		            <a href="https://vmlyr.docsend.com/view/put3tdfxqdxwwynk" target="_blank"><img src="assets/images/casestudies/img/img_cs_ fpwrist.png" alt=""></a>
		            <div class="carousel__slideBox">
		              <div class="row carousel__slideBoxText type-base">
			                <div class="col-6">
			                	<a href="https://vmlyr.docsend.com/view/put3tdfxqdxwwynk" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
			                </div>
		            	</div>
		            </div>
		          </div>
		          <div class="carousel__slide">
		            <a href="https://vimeo.com/375767133" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_tenn.png" alt=""></a>
		            <div class="carousel__slideBox">
		              <div class="row carousel__slideBoxText type-base">
			                <div class="col-6">
			                	<a href="https://vimeo.com/375767133" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
			                </div>
			                <div class="col-6">
			                	<a href="https://vmlyr.docsend.com/view/cgmbheas2v49hsd8" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
			                </div>
		            	</div>
		            </div>
		          </div>
		          <div class="carousel__slide">
		            <a href="https://www.youtube.com/watch?time_continue=57&v=YgnTsf_z0G0&feature=emb_logo" class="js-modal-video" data-effect="mfp-zoom-in"><img src="assets/images/casestudies/img/img_cs_rc.png" alt=""></a>
		            <div class="carousel__slideBox">
		              <div class="row carousel__slideBoxText type-base">
			                <div class="col-6">
			                	<a href="https://www.youtube.com/watch?time_continue=57&v=YgnTsf_z0G0&feature=emb_logo" class="color-white underline-none js-modal-video" data-effect="mfp-zoom-in">{{ icon('video', 'white', 'xs') }} Watch Video</a>
			                </div>
			                <div class="col-6">
			                	<a href="https://vmlyr.docsend.com/view/f5x7qun325akazuw" class="color-white underline-none">{{ icon('doc-pdf', 'white', 'xs') }} PDF</a>
			                </div>
		            	</div>
		            </div>
		          </div>
		        {% endblock %}
		      {% endembed %}
		    </div>
			</div>
  		</div>



    
  </article>
{% endblock %}
